<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta  content="text/html; charset=utf-8"  http-equiv="content-type">
    <meta  http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta  name="viewport"  content="width=device-width, initial-scale=1, user-scalable=yes">
    <script  src="/static/js/d3.js"></script>
    <script  src="/static/js/topojson.v1.min.js"></script>
    <script  src="/static/js/d3.geo.projection.js"></script>
    <script  src="/static/js/polyhedron.js"></script>
    <script  src="/static/js/jquery-2.2.1.min.js"></script>
    <script  src="/static/js/jquery-ui.min.js"></script>
    <script  src="/static/js/shp.min.js"></script>
    <script  src="/static/js/jscolor.js"></script>
    <script  src="/static/js/dropzone.js"></script>
    <script  src="/static/js/layers_handler.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js" type="text/javascript"></script>
    <link  href="/static/css/style.css"  rel="stylesheet"  type="text/css">
    <link  href="/static/css/dat_menu.css" rel="stylesheet" type="text/css">
    <style>
        #bg_layer {stroke : #ffffff; stroke-width: 0.5px; stroke-linecap: round; fill: #6f9fa3;}
        #menu {font-family:Georgia,serif; color:#41403f; font-size: 12px;}
        #map { border-style: solid; width:700px; height:620px;}
        #section1 { height: 110px; margin: 2px; font-size: 12px; font-weight: bold, color: black}
        .graticule {fill:none ; stroke: #777; stroke-width: 1px;  stroke-opacity: .5; stroke-dasharray: 5 }
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 80%; font-weight: bold; color: white}
        #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 12px; line-height: 12px; background: grey}
        .ui-state-highlight {line-height: 12px; background: red}
    </style>
  </head>
<body>
      <div id = "header">M.A.R.S</div>
      <div id = "menu"></div>
  	<div id = "map"></div>
    </body>
    <script>
// voir : http://bl.ocks.org/mbostock/3711652 
// voir : http://stackoverflow.com/questions/14492284/center-a-map-in-d3-given-a-geojson-object    

    var w = 700;
    var h = 620;  

    var title = 0;

    var graticule = d3.geo.graticule();
    // var proj = d3.geo.azimuthalEqualArea().rotate([-10,-52]).scale(700).translate([240, 290]);
    var proj = d3.geo.mercator().scale(100).translate([375, 320]);
    var path = d3.geo.path().projection(proj);
    var t = proj.translate(); 
    var s = proj.scale() ;

    var x_center_proj = proj.center()[0];
    var y_center_proj = proj.center()[1];

    var map = d3.select("#map").append("svg")
        .attr("width", w)
        .attr("height", h)
        .call(d3.behavior.zoom().on("zoom", redraw));

    var background = map.append("g").attr("id","bg_layer");
    map.append("g").attr("id", "graticule")
                   .append("path")
                   .attr("class", "graticule")
                   .datum(graticule)
                   .attr("d", path);
   
    map.append("g").attr("id", "user_layer");
    d3.json("/database/topojson/simplified_land_polygons.topojson", function ready(error, json) {

    background.selectAll('path')
              .data(topojson.feature(json, json.objects.simplified_land_polygons).features)
              .enter()
              .append('path');

    map.selectAll("path").attr("d", path);  

    });
        
    function redraw() {
      sc = d3.event.scale;
      tr  = d3.event.translate;
      var tx = t[0] * d3.event.scale + d3.event.translate[0];
      var ty = t[1] * d3.event.scale + d3.event.translate[1];
      proj.translate([tx, ty]);
      proj.scale(s * d3.event.scale);
      map.selectAll("path").attr("d", path);
      return [sc, tr];
      //return tr;
    }

    function reproj() {
    if(typeof sc == 'undefined'){sc = 1;}
    if(typeof tr == 'undefined'){tr = [0,0];}
    var tx = t[0] * sc + tr[0];
      var ty = t[1] * sc + tr[1];
      proj.translate([tx, ty]);
      proj.scale(s * sc);
      map.selectAll("path").attr("d", path);
    }
    
//////////////////////////////////////////////////////////////////////////////
// MENU
//////////////////////////////////////////////////////////////////////////////

$(function() { $( "#accordion" ).accordion({ heightStyle: "#map" }); });

  $(function() {
    $( "#sortable" ).sortable({
      placeholder: "ui-state-highlight",
      update: function(a){
        var desired_order = [],
            actual_order = [],
            user_layers = d3.select("#user_layer").node();
        
        for(var i=0; i < a.target.childNodes.length; i++){
            desired_order[i] = a.target.childNodes[i].innerText.split(' - ')[1]
            actual_order[i] = user_layers.children[i].id;
            }
        actual_order = actual_order.reverse()
        console.log("Desired order : " + desired_order);
        console.log("Acutal order : " + actual_order);

        }
    });
    $( "#sortable" ).disableSelection();
  });

var accordion = d3.select("#menu").append("div").attr("id","accordion");

accordion.append("h3").html("Import your data");
var section1 =  d3.select("#accordion").append("div").attr("id","section1");

accordion.append("h3").html("Canvas properties");
var section2 =  d3.select("#accordion").append("div").attr("id","section2");

accordion.append("h3").html("Data manager");
var section3 =  d3.select("#accordion").append("div").attr("id","section3");


section1.append("p").html("Drop a GeoJSON, TopoJSON or ziped shapefile project on the canvas or add manually a layer...");
dv = section1.append("p").attr("id", "submit_form");
myform = dv.append("form").attr("action", "upload").attr("method", "post").attr("enctype", "multipart/form-data");
myform.append("input").attr("type", "file").attr("multiple", "").attr("name", "file[]");
myform.append("input").attr("type", "submit").attr("value", "Upload file(s)").attr("id", "upload_button");
//section2.append("input").attr("type", "range")
//section2.append("input").attr("type", "checkbox")
//section2.append("input").attr("type", "radio")
//section2.append("input").attr("type", "textarea")
//section2.append("input").attr("type","color")


var dv2 = section2.append("p").attr("class", "form-item");
dv2.append("label-item").html("<b>Display graticule</b>");
dv2.append("input").attr("type", "checkbox").attr("checked", "checked").on("change", function(){handle_graticule()});
dv2.append('label-item').html("<br><b>Canvas width (px)</b>").style("padding", "7px");
dv2.append("input").attr("id", "input-width").attr("type", "number").attr("value", w).on("change", function(){canvas_mod_size([this.value,null])})
dv2.append('label-item').html("<br><b>Canvas height (px)</b>").style("padding", "6px");
dv2.append("input").attr("id", "input-height").attr("type", "number").attr("value", h).on("change", function(){canvas_mod_size([null,this.value])})
dv2.append('label-item').html("<br><b>Projection </b>").style("padding", "6px");
var p = dv2.append("select").attr("id","form_projection").style("align", "center");
    d3.json("/static/json/projections.json", function(json) {
       json.forEach(function(d) {
            p.append("option").text(d.name).attr("value",d.projection);
           });   
    });

section2.append("div").html("Canvas rotation")
section2.append("input")
        .attr("type", "range")
        .attr("id","form_rotate")
        .attr("value",0).attr("min",0)
        .attr("max",360).attr("step",1)
        .on("input", function(){rotate_global(this.value)});


section2.append("div").html("Projection center (λ-axis rotation)")
section2.append("input")
        .attr("type", "range")
        .attr("id","form_projection_center")
        .attr("value", 0).attr("min", 0)
        .attr("max", 360).attr("step", 0.5)
        .on("input", function(){handle_proj_center_button([this.value, null, null])});


section2.append("p")
        .append("input")
        .attr("type", "button")
        .attr("class", "zoom_button")
        .attr("value", "+");
section2.append("p")
        .append("input")
        .attr("type", "button")
        .attr("class", "zoom_button")
        .attr("value", "-");

var layer_list = section3.append("ul").attr("id", "sortable");
// Faire des items avec 3 petites icones
// (pour supprimer la couche, pour modifier son style / controler sa visibilité et obtenir des infos genre nb d'entités, etc..) ?


//////////////////////////////////////////////////////////////////////////////
// Rotation functions :
//////////////////////////////////////////////////////////////////////////////

function rotate_global(angle){
    d3.selectAll("svg")
      .transition()
      .duration(10)
      .attr("transform", "rotate(" + angle + ","+ w / 2 +","+  h / 2 +")");
};


function rotate_orthographic(){
    d3.select("svg").on("mousedown", function(){
        var svg = d3.select(this).classed("active", true);
        svg.on("mousemove", function() {
          var p = d3.mouse(this);
          proj.rotate([λ(p[0]), φ(p[1])]);
          d3.selectAll("path").attr("d", path);
        });
        svg.on("mouseup", function(){
            svg.classed("active", false);
            svg.on("mousemove", null).on("mouseup", null);
        });
    });
};
    
p.on("change", function() {
    proj = eval(this.value);
    path = d3.geo.path().projection(proj);
    t = proj.translate(); // the projection's default translation
    s = proj.scale()
    reproj() ;
    if(strContains(this.value, 'orthographic')){
        rotate_orthographic();
        document.getElementById('input-proj-center-x').disabled = true;
        document.getElementById('input-proj-center-y').disabled = true;
    } else if (strContains(this.value, 'mercator') || strContains(this.value, 'boggs')
                 || strContains(this.value, 'baker') || strContains(this.value, 'craster')
                 || strContains(this.value, 'ckert') || strContains(this.value, 'ckert')
                 || strContains(this.value, 'romley')){
        document.getElementById('input-proj-center-x').disabled = false;
        document.getElementById('input-proj-center-y').disabled = true;
    } else {
        document.getElementById('input-proj-center-x').disabled = false;
        document.getElementById('input-proj-center-y').disabled = false;
        d3.select("svg").on("mousedown", null)
                        .on("mousemove", null)
                        .on("mouseup", null);
    }
});   

//////////////////////////////////////////////////////////////////////////////
// Used for the sphere rotation when orthographic projection is enabled :
//////////////////////////////////////////////////////////////////////////////

var λ = d3.scale.linear()
    .domain([0, w])
    .range([-180, 180]);

var φ = d3.scale.linear()
    .domain([0, h])
    .range([90, -90]);


//////////////////////////////////////////////////////////////////////////////
// Some statements to add a basic dynamic menu :
//////////////////////////////////////////////////////////////////////////////

gui = new dat.GUI();

// The 3 folders of the menu :

layers_fl = gui.addFolder("Current layers");
map_options = gui.addFolder("More canvas properties");
export_option = gui.addFolder("Export options");

// The mandatory objects to prepare the fields :

var FillLayersMenu = {
    add: function(){add_layer()},
    add_sample: function(){add_sample_layer()}
};
var FillExportMenu = {
    "Export": function(){ handle_export(); },
    "Print": function(){ console.log('Save trees!')},
    "Twitt": function(){ console.log('Twitter, seriously..')},
    };

var FillMapMenu = {
  Background: true,
  Color: "#6f9fa3",
  Graticule: true,
  Title: 'Map title',
  displayTitle: false,
  Simplification: 0,
  rotation: 0,
  projCenterX: x_center_proj,
  rotation_y: y_center_proj,
  inclinaison: 0
 // projCenter: function(){handle_proj_center_click()}
};

// Now lets fill and binds these fields :


map_options.add(FillMapMenu, "Background").onChange(function(){handle_bg()});
map_options.addColor(FillMapMenu, "Color").name("Background color").onChange(function(){handle_bg_color(FillMapMenu.Color)});
//map_options.add(FillMapMenu, "Graticule").onChange(function(){handle_graticule()});
map_options.add(FillMapMenu, "Title");
map_options.add(FillMapMenu, "displayTitle").name("Display title").onChange(function(){handle_title(FillMapMenu.Title)});
map_options.add(FillMapMenu, "Simplification", 0, 100);
map_options.add(FillMapMenu, "rotation", 0, 360).name("Canvas rotation").onChange(function(){rotate_global(FillMapMenu.rotation)});
//map_options.add(FillMapMenu, "projCenterX", 0, 360).name("Projection center (λ-axis rotation)").onChange(function(){handle_proj_center_button([FillMapMenu.projCenterX, null, null])});
// map_options.add(FillMapMenu, "projCenter").name("Choose the projection center...");
map_options.add(FillMapMenu, "rotation_y", 0, 3600).name("φ-axis rotation").onChange(function(){handle_proj_center_button([null, FillMapMenu.rotation_y/10, null])});
map_options.add(FillMapMenu, "inclinaison", 0, 3600).name("γ-axis rotation").onChange(function(){handle_proj_center_button([null, null, FillMapMenu.inclinaison/10])})

export_option.add(FillExportMenu,'Export').name("Export your map (svg/png)");
export_option.add(FillExportMenu,'Print').name("Print your map");
export_option.add(FillExportMenu,'Twitt').name("Share on twitter...");

$(document).ready(function() {
    d3.select("body").select("div.dg.main.a")
                        .style("width", "410px")
                        .style("margin-top", "30px")
                        .style("float", "right");
});


//////////////////////////////////////////////////////////////////////////////
// Some callback functions related to the menu :
//////////////////////////////////////////////////////////////////////////////

function handle_export(){  // Not working as expect right now
    var svg = document.getElementById("map");
   
    var source = (new XMLSerializer).serializeToString(svg);
    
    if(!source.match(/^<svg[^>]+xmlns="http\:\/\/www\.w3\.org\/2000\/svg"/)){
        source = source.replace(/^<svg/, '<svg xmlns="http://www.w3.org/2000/svg"');
    }
    if(!source.match(/^<svg[^>]+"http\:\/\/www\.w3\.org\/1999\/xlink"/)){
        source = source.replace(/^<svg/, '<svg xmlns:xlink="http://www.w3.org/1999/xlink"');
    }
    source = '<?xml version="1.0" standalone="no"?>\r\n' + source;

    var url = "data:image/svg+xml;charset=utf-8,"+btoa(source);
    console.log(url);
    convBase64ToFile(url);
}

function add_layer(){
    var input = $(document.createElement('input'));
    input.attr("type", "file");
    input.on('change', prepareUpload);
    var res = [];
    function prepareUpload(event){
        files = event.target.files;
        if(strContains(files[0].name, 'topojson')){
            handle_TopoJSON_files(files);
        } else if(files.length == 1 && (strContains(files[0].name, 'geojson')
                            || strContains(files[0].name, 'zip'))){
            handle_single_file(files);
        }
    };
    input.trigger('click');
}

function add_sample_layer(){
 console.log(this);
  // TODO: proposer des couches type découpage pays monde + zone en eau + maillage européen plus fin par exemple
  // 
}

function handle_bg(){
    var active = bg_layer.active ? false : true,
        new_opacity = active ? 0 : 1;
    d3.selectAll("#bg_layer").style("opacity", new_opacity);
    bg_layer.active = active;
}

function handle_bg_color(color){
    d3.selectAll("#bg_layer").style("fill", color);
}

function handle_graticule(){
    var active = graticule.active ? false : true,
        new_opacity = active ? 0 : 1;
    d3.select("#graticule").style("opacity", new_opacity);
    graticule.active = active;
}

function handle_title(txt){
    var active = title.active ? false : true;
    if(active) title = d3.select("svg")
                         .append("text").attr("id", "title")
                         .attr("x", w/2 - txt.length)
                         .attr("y", h/10)
                         .attr("class", "legend")
                         .attr("font-family", "sans-serif")
                         .attr("font-size", "20px")
                         .style("fill", "black")
                         .text(txt);
    if(!active) title = d3.selectAll("#title.legend").remove();
    title.active = active;
}


function handle_proj_center_click(){
    map.on('click', function(d){
        var coords = d3.mouse(this);
        var coords_latlong = proj.invert(coords)
        console.log(coords_latlong);
        current_rotation = proj.rotate()
        proj.rotate([coords[0] - w/2, current_rotation[1], current_rotation[2]]);
        map.selectAll("path").attr("d", path);
        map.on('click', null);
    })
}


function handle_proj_center_button(param){
    current_rotation = proj.rotate();
    console.log(current_rotation);
    if(param[0]){
        proj.rotate([param[0] - w/2, current_rotation[1], current_rotation[2]]);
        map.selectAll("path").attr("d", path);
    }
    if(param[1]){
        proj.rotate([current_rotation[0], param[1] - h/2, current_rotation[2]]);
        map.selectAll("path").attr("d", path);
    }
    if(param[2]){
        proj.rotate([current_rotation[0], current_rotation[1], param[2] - h/2]);
        map.selectAll("path").attr("d", path);
    }
}


function canvas_mod_size(param){
    if(param[0]){
        w = param[0];
        console.log([w, h]);
        map.attr("width", w)
                .attr("height", h)
                .call(d3.behavior.zoom().on("zoom", redraw));
        d3.select("body").select("#map").style("width", w+"px").style("height", h+"px");
    };

    if(param[1]){
        h = param[1];
        console.log([w, h]);
        map.attr("width", w)
            .attr("height", h)
            .call(d3.behavior.zoom().on("zoom", redraw));
        d3.select("body").select("#map").style("width", w+"px").style("height", h+"px");

    }
}

function zoomed() {
  proj.translate(d3.event.translate).scale(d3.event.scale);
  map.selectAll("path").attr("d", path);
}


// Straight from http://stackoverflow.com/a/28294262 : 

function convBase64ToFile(strBase64) {
    var tmp = strBase64.split(",");
    var prefix = tmp[0];
    var contentType = prefix.split(/[:;]+/)[1];
    var byteCharacters = atob(tmp[1]);

    var byteNumbers = new Array(byteCharacters.length);
    for (var i = 0; i < byteCharacters.length; i++) {
         byteNumbers[i] = byteCharacters.charCodeAt(i);
    }
    var byteArray = new Uint8Array(byteNumbers);
    var blob = new Blob([byteArray], {type: contentType});
    var blobUrl = URL.createObjectURL(blob);
    window.open(blobUrl, "popup","width=1000,height=500,scrollbars=1,resizable=no," +
    "toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0");
}



</script>
</body>
</html>
