<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta  content="text/html; charset=utf-8"  http-equiv="content-type">
    <meta  http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta  name="viewport"  content="width=device-width, initial-scale=1, user-scalable=yes">
    <title> MARS - {{ func }}</title>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
    <script d3.version || document.write('<script src="/static/js/d3.js">\x3C/script>')</script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.min.js"></script>
    <script topojson.version || document.write('<script src="/static/js/topojson.v1.min.js">\x3C/script>')</script>
    <script  src="/static/js/d3.geo.projection.js"></script>
    <script  src="/static/js/polyhedron.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script window.jQuery || document.write('<script src="/static/js/jquery-2.2.1.min.js">\x3C/script>')</script>
    <script  src="/static/js/jquery-ui.min.js"></script>

    <script  src="/static/js/test_interface.js"></script>
    <script  src="/static/js/layers_style_popup.js"></script>
    <script  src="/static/js/functions.js"></script>
    <script  src="/static/js/join_popup.js"></script>
    <link  href="/static/css/style.css"  rel="stylesheet"  type="text/css">
    <style>
        #sortable { list-style-type: none; margin: auto; padding: 0; width: 95%; font-weight: bold; color: white; border-radius: 10%}
        #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 12px; line-height: 12px; background: #adadad; border-radius: 10%;}
        #sortable li.sortable_target { margin: 0 5px 5px 5px; padding: 5px; font-size: 12px; line-height: 12px; background: #ede425; color: black; border-radius: 10%;}
        .ui-state-highlight {line-height: 12px; background: red}
    </style>
  </head>
  <body>
      <div id ="header">
        <p style="display:inline; margin-left:10px;"><i>M.A.R.S</i></p>
        <p class="header_options"><a href="https://github.com/riatelab/noname-stuff/">Sources</a>    <a href="">Documentation</a></p></div>
      <div id ="menu"></div>
  	 <div id ="map"></div>
      <div id="func">{{ func }}</div>
      <a id="downloadAnchorElem" style="display:none"></a>
    <script>
var func = document.getElementById('func').innerHTML;
document.getElementById('func').style.display = "none";

var menu_option = get_menu_option(func);
// voir : http://bl.ocks.org/mbostock/3711652 
// voir : http://stackoverflow.com/questions/14492284/center-a-map-in-d3-given-a-geojson-object    
/*
var w = 700,
    h = 620;
*/
var w = Math.round((window.innerWidth / 1.73 ) / 10)*10,
    h = Math.round((window.innerHeight / 1.33 ) / 10)*10;

var title = 0;

var graticule = d3.geo.graticule(),
    proj = d3.geo.mercator().scale(100).translate([375, 320]),
    path = d3.geo.path().projection(proj),
    t = proj.translate(),
    s = proj.scale(),
    zoom = d3.behavior.zoom().scale(1).scaleExtent([0.2, 28]).on("zoom", redraw);

var x_center_proj = proj.center()[0],
    y_center_proj = proj.center()[1],
    current_proj_name = "mercator";

var user_data = new Object(),
    targeted_topojson = undefined,
    joined_dataset = [],
    field_join_map  = [],
    target_layer_on_add = false,
    targeted_layer_added = false,
    current_layers = new Object();

current_layers["Graticule"] = {"type": "Line", "n_features":1}
current_layers["Simplified_land_polygons"] = {"type": "Polygon", "n_features":1}

var map = d3.select("#map")
                .style("width", w+"px").style("height", h+"px")
            .append("svg")
                .attr("width", w)
                .attr("height", h)
                .call(zoom);

var background = map.append("g").attr("id","Simplified_land_polygons");

var button_style = ' <button type="submit" class="style_button"><img src="/static/img/High-contrast-edit-clear.svg" width="18" height="18" alt="submit"/></button>',
    button_trash = ' <button type="submit" class="trash_button"><img src="/static/img/Trash_font_awesome.svg" width="18" height="18" alt="submit"/></button>',
    button_active = ' <input type="checkbox" class="active_button" name="active_button" id="active_button" checked="checked">';

// These triggers are in a function as they need to be called on each layer add
var binds_layers_buttons = function(){
    d3.selectAll(".trash_button").on("click", remove_layer);
    d3.selectAll(".active_button").on("change", handle_active_layer);
    d3.selectAll(".style_button").on("click", function(){
            handle_click_layer(this.parentElement.innerHTML.split(" <butt")[0])
            });
}

map.append("g").attr("id", "Graticule")
               .append("path")
               .attr("class", "graticule")
               .datum(graticule)
               .attr("d", path);
   
d3.json("/database/topojson/simplified_land_polygons.topojson", function ready(error, json) {
    background.selectAll('path')
              .data(topojson.feature(json, json.objects.simplified_land_polygons).features)
              .enter()
              .append('path');
    map.selectAll("path").attr("d", path);  
});
    

//////////////////////////////////////////////////////////////////////////////
// Set-up the menu :
//////////////////////////////////////////////////////////////////////////////

var accordion1 = d3.select("#menu").append("div").attr("id","accordion1").attr("class", "accordion");
var accordion2 = d3.select("#menu").append("div").attr("id","accordion2").attr("class", "accordion");
var accordion3 = d3.select("#menu").append("div").attr("id","accordion3").attr("class", "accordion");
var accordion4 = d3.select("#menu").append("div").attr("id","accordion4").attr("class", "accordion");
var accordion5 = d3.select("#menu").append("div").attr("id","accordion5").attr("class", "accordion");

accordion1.append("h3").html("Add your data");
var section1 =  d3.select("#accordion1").append("div").attr("id","section1");

accordion2.append("h3").html(menu_option.title);
var section2 =  d3.select("#accordion2").append("div").attr("id","section2");

accordion3.append("h3").html("Layers");
var section3 =  d3.select("#accordion3").append("div").attr("id","section3");

accordion4.append("h3").html("Basemap configuration");
var section4 =  d3.select("#accordion4").append("div").attr("id","section4");

accordion5.append("h3").html("Projection options");
var section5 =  d3.select("#accordion5").append("div").attr("id","section5");

dv1 = section1.append("div")
            .style("text-align", "center")
            .style("margin", "3%")
            .html("Drop a GeoJSON, TopoJSON or ziped shapefile project here or add manually a layer...<br>");

dv1.append("input").attr("type", "button")
                   .attr("value", "Browse and add...")
                   .on("click", add_layer);
dv1.append('p').html('<i>Add sample data...</i>').on('click', function(){add_sample_layer();});

dv1.append("p").attr("id", "input_geom").attr("class", "user_panel").style("margin-top", "5%").html("User geometry : <b><i>None</i></b>");
dv1.append("p").attr("id", "datag").attr("class", "user_panel").html("Data provided with geometries : <b><i>No</i></b>");
dv1.append("p").attr("id", "data_ext").attr("class", "user_panel").html("External data : <b><i>No</i></b>");
dv1.append("p").attr("id", "join_section").html("").style("margin-bottom", "5px");
var join_button = undefined;

var dv2 = section2.append("p").attr("class", "form-item");
dv2.append("input").attr("type", "button")
                   .attr("id", "func_button")
                   .attr("value", "Choose options and compute...")
                   .style("margin-left", "5%")
                   .on("click", popup_function);
d3.select("#func_button").node().disabled = true;

var layer_list = section3.append("div").append("ul").attr("id", "sortable").attr("class", "layer_list");
layer_list.append("li").attr("class", "ui-state-default Graticule").html("Graticule"+ button_style + button_trash + button_active)
layer_list.append("li").attr("class", "ui-state-default Simplified_land_polygons").html("Simplified_land_polygons"+ button_style + button_trash + button_active)
dv3 = section3.append("div")
                .style("text-align", "center")
                .html("Drop new layout layers here or browse locally to add one<br>(GeoJSON, TopoJSON and ziped Shapefile project)<br>");
dv3.append("input")
    .attr("type", "button")
    .attr("value", "Browse and add...")
    .on("click", add_layer)


var dv4 = section4.append("p").attr("class", "form-item").style("margin-left", "5%");
dv4.append("p").html("<b>Canvas width (px)</b><br>").insert("input").attr("id", "input-width").attr("type", "number").attr("value", w).on("change", function(){canvas_mod_size([this.value,null])})
dv4.append("p").html("<b>Canvas height (px)</b><br>").insert("input").attr("id", "input-height").attr("type", "number").attr("value", h).on("change", function(){canvas_mod_size([null,this.value])})
dv4.append("p").html("Map title<br>").insert("input").attr("id", "title").on("keyup", function(){handle_title(this.value);})
dv4.append("p").html("Background Color<br>").insert("input").attr("type", "color").attr("id", "bg_color").attr("value", "#ffffff").on("change", function(){handle_bg_color(this.value);})

var dv5 = section5.append("p").attr("class", "form-item");
dv5.append('label-item').html("<br><b>Projection </b><br>").style("padding", "6px");
var p = dv5.append("select").attr("id","form_projection").style("align", "center");
    d3.json("/static/json/projections.json", function(json) {
       json.forEach(function(d) {
            p.append("option").text(d.name).attr("value",d.projection);
           });   
    });

section5.append("div").html("Canvas rotation")
section5.append("input")
        .attr("type", "range")
        .attr("id","form_rotate")
        .attr("value",0).attr("min",0)
        .attr("max",360).attr("step",1)
        .on("input", function(){rotate_global(this.value)});

section5.append("div").html("Projection center (λ-axis rotation)")
section5.append("input")
        .attr("type", "range")
        .attr("id","form_projection_center")
        .attr("value", 0).attr("min", 0)
        .attr("max", 360).attr("step", 0.5)
        .on("input", function(){handle_proj_center_button([this.value, null, null])});

b = '<button type="submit" class="" style="border-color:transparent;color:transparent"><img src="/static/img/High-contrast-system-run.svg" width="22" height="22" alt="submit"/></button>'
section4.append("p").html(b + "Save your preferences...").on("click", save_map_template)
section4.append("p").html(b + "Load a preference JSON...").on("click", load_map_template)

// Zoom in & Zoom out buttons (on the map):

var lm = d3.select("#map")
            .append("div")
            .attr("class", "light-menu")
            .style({position:"absolute", top:"-30px", left:"2px"});

lm.append("input")
    .attr("type", "button")
    .attr("class", "zoom_button")
    .attr("value", "-")
    .attr("title", "Zoom out")
    .attr("id", "zoom_out");


lm.append("input")
        .attr("type", "button")
        .attr("class", "zoom_button")
        .attr("value", "+")
        .attr("title", "Zoom in")
        .attr("id", "zoom_in");


lm.append("input")
        .attr("type", "button")
        .attr("class", "info_button")
        .attr("value", "i")
        .attr("title", "Display features informations")
        .attr("id", "info_button");

lm.append("button")
        .attr("class", "hand_button")
        .attr("id", "hand_button")
        .attr("Title", "Use the cursor to move on the map (default behavior)")
        .html('<img src="/static/img/Closed_Hand_thenounproject.svg" width="18" height="18" alt="Hand_closed"/>')
        .style('box-shadow', 'inset 2px 2px 1px black')
        .on("click", function(){handle_click_hand();});


var info = lm.append("p")
              .attr("id", "info_coords")
              .style({"font-size": "14px", "margin-top": (h+10)+"px",
                      "margin-left":"5px", "color":"black"})
              .html("");

var const_options = d3.select("body").append("div").attr("id", "const_options")
const_options.append("button").attr("class", "const_buttons")
              .attr("title", "Export your composition")
              .html('<img src="/static/img/Wikiversity-Mooc-Icon-Download_modif.svg" width="24" height="24" alt="Export"/>')
              .style("margin-top", "none")
              .on("click", function(){alert('Export!');});

const_options.append("button").attr("class", "const_buttons")
              .attr("title", "Export / Load your map preferences")
              .html('<img src="/static/img/High-contrast-system-run.svg" width="24" height="24" alt="export_load_preferences"/>')
              .style("margin-top", "none")
              .on("click", function(){alert('Export / load your preferences!');});

const_options.append("button").attr("class", "const_buttons")
              .attr("title", "Help")
              .html('<img src="/static/img/High-contrast-help-browser.svg" width="24" height="24" alt="export_load_preferences"/>')
              .style("margin-top", "none")
              .on("click", function(){alert('Emergency help!');});

// Trigger actions when buttons are clicked :

d3.selectAll(".zoom_button").on("click", zoomClick);
d3.selectAll(".info_button").on("click", displayInfoOnMove);
d3.select("svg").on("mousemove", function(){log_coordinates(this)});
binds_layers_buttons();

// Trigger a periodical call to a function sending current map preference to the server :
setInterval(sendPreferences, 300000);

//////////////////////////////////////////////////////////////////////////////
// JQuery menu and progress bar related functions :
//////////////////////////////////////////////////////////////////////////////

//$(function() { $( "#accordion" ).accordion({ heightStyle: "#map" }); });
$(".accordion").accordion({ collapsible: true, active: false, heightStyle: "#map" });
$("#accordion1").accordion({ collapsible: true, active: 0, heightStyle: "#map" });

$(function() {
  $( "#sortable" ).sortable({
    placeholder: "ui-state-highlight",
    update: function(a){
      console.log(a.target)
      var desired_order = [],
          actual_order = [],
          layers = d3.selectAll("svg").node();
    
      for(var i=0, len = a.target.childNodes.length; i < len; i++){
          var n = (a.target.childNodes[i].innerHTML.split(" <butt")[0]).split(" - ")
          desired_order[i] = n[n.length - 1]
          actual_order[i] = layers.children[i].id;
      }
      for(var i = 0, len = desired_order.length; i < len; i++){
          lyr1 = d3.select("#"+desired_order[i]).node()
          lyr2 = d3.select("#"+desired_order[i+1]).node() || d3.select("#"+desired_order[i]).node()
          layers.insertBefore(lyr2, lyr1);
      }
     }
  });
  $( "#sortable" ).disableSelection();
});

$(document).ajaxStart(function() {
        d3.select("#map").append("div")
                         .style({position: "absolute",top: "-20px", left: (w/4)+"px", "text-align": "center", "color": "black"})
                         .attr("id", "progressbar").node().innerHTML = '<img src="/static/img/ajax-loader.gif" style="width:' + (w/2) + 'px"/><br>Loading layer ...';
    }).ajaxSuccess(function() {
        d3.select("#progressbar").node().remove();
    });

////////////////
// To sort:
////////////////
var info_features = d3.select("body").append("div")
              .attr("id", "info_features")
              .html("");
info_features.active = false;
function displayInfoOnMove(){
    var target_lyr = Object.getOwnPropertyNames(user_data);
    if(target_lyr == 0){
        alert("Informations are only displayed on the targeted layer");
    } else if(target_lyr > 1){
        alert("Too many layer to handle");
    } else {
        target_lyr = "#"+target_lyr[0];
        if(info_features.active){
            d3.select(".info_button").style('box-shadow', null);
            d3.select(target_lyr).selectAll("path").on("mouseover", null)
            info_features.active = false;
            info_features.node().innerHTML = ""
            info_features.style({});
            document.getElementById("map").style.cursor="";
        } else {
            d3.select(".info_button").style('box-shadow', 'inset 2px 2px 1px black');
            d3.select(target_lyr).selectAll("path").on("mouseover", function(d){
                var item_nb = (this.id).split(' ')[1],
                    ft = user_data[target_lyr.substring(1, target_lyr.length)][item_nb],
                    txt_info = ["<h2>Features #", item_nb, "</h2><br><i>",
                                current_layers[target_lyr.substring(1, target_lyr.length)].type,
                                "</i><br>"];
                Object.getOwnPropertyNames(ft).forEach(function(el, i){
                    txt_info.push("<br><b>"+el+"</b> : "+ft[el]);});
                info_features.node().innerHTML = txt_info.join('');
            });
            d3.select(target_lyr).attr("d", path).on("mouseout", function(){
                info_features.node().innerHTML = "";});
            info_features.active = true;
            document.getElementById("map").style.cursor="help";
        }
    }
}

function reproj(){
  proj.translate([t[0], t[1]]);
  proj.scale(s)
  map.selectAll("path").attr("d", path);
}

var trim = function(s){
    return s.replace(/^\s+|\s+$/,'');
}

function log_coordinates(t){
  var coords = proj.invert(d3.mouse(t)),
      txt = [];

  if(coords[0]>0) txt.push("E")
  else txt.push("W")

  if(coords[1]>0) txt.push("N")
  else txt.push("S")
  info.node().innerHTML = [txt[0], coords[0].toFixed(6), ' - ', txt[1], coords[1].toFixed(6)].join(' ');
};

function remove_layer(){
     var name;
     var name_split = this.parentElement.innerHTML.split(" <butt")[0].split(' - ');
     if(name_split.length == 2) name = name_split[1];
     else if(name_split.length > 2) console.log('Oups..');
     else name = name_split[0];

     var confirm_remove = confirm("Remove layer '" + name + "' ?");
     if(confirm_remove){
         var g_lyr_name = "#"+trim(name);
         d3.select(g_lyr_name).node().remove();
         d3.select("#sortable").select('.'+name).node().remove();
         // Reset the panel displaying info on the targeted layer if she"s the one to be removed :
         if(current_layers[name].targeted){
             d3.select("#input_geom").html("User geometry : <b><i>None</i></b>");
             d3.select("#datag").html("Data provided with geometries : <b><i>No</i></b>");
         }
         delete current_layers[name];
        }
}

function load_map_template(){
    alert("Not implemented!");
}

function handle_bg_color(color){
    map.style("background-color", color);
}

function handle_click_hand(){
    var hb = d3.select('.hand_button');
    if(hb.style('box-shadow') != "none"){d3.select(".hand_button").style('box-shadow', "none")}
    else{d3.select(".hand_button").style('box-shadow', 'inset 2px 2px 1px black')}
}


function get_map_template(){   //  ... or maintain up-to-date a global Object() containing these options ?
    var map_config = new Object(),
        layers_style = [];

    var svg = d3.selectAll("svg").node();

    map_config.projection = current_proj_name;
    map_config.scale = proj.scale();
    map_config.translate = proj.translate();
    map_config.projection_center = proj.center();
    map_config.div_width = w;
    map_config.div_height = h;
    map_config.rotation = d3.select("svg").attr('transform') ? d3.select("svg").attr('transform').split('rotate(')[1].split('),')[0] : "0";
    map_config.n_layers = svg.childElementCount;

    for(var i=0; i < map_config.n_layers; i++){
        layers_style[i] = new Object();
        layers_style[i].layer_name = svg.childNodes[i].id;
        g_lyr_name = "#"+ layers_style[i].layer_name;
        layers_style[i].cache_url = "";
        layers_style[i].stroke = d3.select(g_lyr_name).selectAll("path").style("stroke");
        layers_style[i].stroke_opacity = d3.select(g_lyr_name).selectAll("path").style("stroke-opacity");
        layers_style[i].stroke_width = d3.select(g_lyr_name).selectAll("path").style("stroke-width");
        layers_style[i].fill = d3.select(g_lyr_name).selectAll("path").style("fill");
        layers_style[i].fill_opacity = d3.select(g_lyr_name).selectAll("path").style("fill-opacity");
    }

    return JSON.stringify({"map_config": map_config, "layers": layers_style.reverse()})
}

function save_map_template(){
    json_params = get_map_template();
    var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(json_params);
    var dlAnchorElem = document.getElementById('downloadAnchorElem');
    dlAnchorElem.setAttribute("href", dataStr);
    dlAnchorElem.setAttribute("download", "noname_properties.json");
    dlAnchorElem.click();
}

function sendPreferences(){
    json_params = get_map_template();
    $.ajax({
       type: 'POST',
       url: '/save_user_pref', 
       data: json_params,
       global: false, 
       success: function(d) {console.log(d);}
    }); // 'global' is set to false to prevent the ajaxStart event to display the progress bar requested on other ajax calls
}

//////////////////////////////////////////////////////////////////////////////
// Zooming functions (from http://bl.ocks.org/linssen/7352810)
//////////////////////////////////////////////////////////////////////////////

/*
/// These versions of these 3 functions are doing translation / scaling on the svg element (ie. not by recomputing each path)
function redraw() {
    map.attr("transform",
        "translate(" + zoom.translate() + ")" +
        "scale(" + zoom.scale() + ")"
    );
}

function interpolateZoom (translate, scale) {
    var self = this;
    return d3.transition().duration(350).tween("zoom", function () {
        var iTranslate = d3.interpolate(zoom.translate(), translate),
            iScale = d3.interpolate(zoom.scale(), scale);
        return function (t) {
            zoom
                .scale(iScale(t))
                .translate(iTranslate(t));
            redraw();
        };
    });
}

function zoomClick() {
    var clicked = d3.event.target,
        direction = 1,
        factor = 0.2,
        target_zoom = 1,
        center = [w / 2, h / 2],
        extent = zoom.scaleExtent(),
        translate = zoom.translate(),
        translate0 = [],
        l = [],
        view = {x: translate[0], y: translate[1], k: zoom.scale()};

    d3.event.preventDefault();
    direction = (this.id === 'zoom_in') ? 1 : -1;
    target_zoom = zoom.scale() * (1 + factor * direction);

    if (target_zoom < extent[0] || target_zoom > extent[1]) { return false; }

    translate0 = [(center[0] - view.x) / view.k, (center[1] - view.y) / view.k];
    view.k = target_zoom;
    l = [translate0[0] * view.k + view.x, translate0[1] * view.k + view.y];

    view.x += center[0] - l[0];
    view.y += center[1] - l[1];

    interpolateZoom([view.x, view.y], view.k);
}
*/

function redraw() {
  sc = d3.event.scale;
  tr  = d3.event.translate;
  var tx = t[0] * d3.event.scale + d3.event.translate[0];
  var ty = t[1] * d3.event.scale + d3.event.translate[1];
  proj.translate([tx, ty]);
  proj.scale(s * d3.event.scale);
  map.selectAll("path").attr("d", path);
  return [sc, tr];
  //return tr;
}


function zoom_without_redraw(){
    var tx = t[0] * d3.event.scale + d3.event.translate[0];
    var ty = t[1] * d3.event.scale + d3.event.translate[1];
    proj.translate([tx, ty]);
    d3.selectAll("svg")
      .transition()
      .duration(10)
      .attr("transform", "scale(" + d3.event.scale + ")")
      .attr("translate", "translate(" + d3.event.translate[0] + ","+ d3.event.translate[1]+")");
};

function interpolateZoom(translate, scale) {
    return d3.transition().duration(225).tween("zoom", function () {
        var iTranslate = d3.interpolate(proj.translate(), translate),
            iScale = d3.interpolate(proj.scale(), scale);
        return function (t) {
            proj.scale(iScale(t)).translate(iTranslate(t));
            zoom.scale(scale/s);
            map.selectAll("path").attr("d", path);
        };
    });
}

function zoomClick() {
    var clicked = d3.event.target,
        direction = 1,
        factor = 0.1,
        target_zoom = 1,
        extent = zoom.scaleExtent(),
        translate = proj.translate(),
        translate0 = [], l = [],
        p_scale = proj.scale();

    d3.event.preventDefault();
    direction = (this.id === 'zoom_in') ? 1 : -1;
    target_zoom = zoom.scale() * (1 + factor * direction);

    if (target_zoom < extent[0] || target_zoom > extent[1]) { return false; }

    translate0 = [(translate[0] - t[0]) / p_scale, (translate[1] - t[1]) / p_scale];
    l = [translate0[0] * p_scale + t[0], translate0[1] * p_scale + t[1]];
    target_zoom = target_zoom * s // 's' is the reference proj.scale

    interpolateZoom(l, target_zoom);
}


//////////////////////////////////////////////////////////////////////////////
// Rotation functions :
//////////////////////////////////////////////////////////////////////////////

function rotate_global(angle){
    d3.selectAll("svg")
      .transition()
      .duration(10)
      .attr("transform", "rotate(" + angle + ","+ w / 2 +","+  h / 2 +")");
};

/*
function rotate_orthographic(){
    d3.select("svg").on("mousedown", function(){
        var svg = d3.select(this).classed("active", true);
        svg.on("mousemove", function() {
          var p = d3.mouse(this);
          proj.rotate([λ(p[0]), φ(p[1])]);
          d3.selectAll("path").attr("d", path);
        });
        svg.on("mouseup", function(){
            svg.classed("active", false);
            svg.on("mousemove", null).on("mouseup", null);
        });
    });
};
*/

p.on("change", function() {
    var current_proj_name = this.value.split('()')[0].split('.')[2]

    // Update global variables:
    proj = eval(this.value);
    path = d3.geo.path().projection(proj);
    t = proj.translate();
    s = proj.scale();

    // Do the reprojection :
    reproj();

    // Set specifics mouse events according to the projection :
    if(strContains(current_proj_name, 'orthographic')){
        var current_params = proj.rotate();
        section5.append("div").attr("class", "options_ortho").html("Projection center (φ-axis rotation)")
                .insert("input")
                .attr("type", "range")
                .attr("id","form_projection_phi")
                .attr("value", current_params[1]).attr("min", -180)
                .attr("max", 180).attr("step", 0.5)
                .on("input", function(){handle_proj_center_button([null, this.value, null])})
                
        section5.append("div").attr("class", "options_ortho").html("Projection center (γ-axis rotation)")
                .insert("input")
                .attr("type", "range")
                .attr("id","form_projection_gamma")
                .attr("value", current_params[2]).attr("min", -90)
                .attr("max", 90).attr("step", 0.5)
                .on("input", function(){handle_proj_center_button([null, null, this.value])});
    } else {
        var options_ortho = d3.selectAll(".options_ortho");
        if(options_ortho.node()){options_ortho.remove()}
    }
    d3.select("svg").on("mousedown", null)
                    .on("mousemove", function(){log_coordinates(this)})
                    .on("mouseup", null);
});   

//////////////////////////////////////////////////////////////////////////////
// Used for the sphere rotation when orthographic projection is enabled :
//////////////////////////////////////////////////////////////////////////////

var λ = d3.scale.linear()
    .domain([0, w])
    .range([-180, 180]);

var φ = d3.scale.linear()
    .domain([0, h])
    .range([90, -90]);

function add_sample_layer(){
    console.log(this);
}

function handle_active_layer(){
     var name;
     var name_split = this.parentElement.innerHTML.split(" <butt")[0].split(' - ');
     if(name_split.length == 2) name = name_split[1];
     else if(name_split.length > 2) console.log('Oups..');
     else name = name_split[0];
     var g_lyr_name = "#"+trim(name);
     fill_value = this.checked ? 1 : 0;
     console.log(name); console.log(fill_value)
     d3.selectAll(g_lyr_name).style("opacity", fill_value);
}

function handle_title(txt){
    var title = d3.select("#map_title");
    if(title.node()){
        title.style("top", h/20 + "px")
             .style("width", w + "px").html(txt);
    } else {
        d3.select("#map").append("p").attr("id", "map_title").attr("class", "legend")
         .style("top", h/20 + "px")
         .style("width", w + "px")
         .style("font-family", "sans-serif")
         .style("font-size", "20px")
         .style("text-align", "center")
         .style("position", "absolute")
         .style("color", "black").html(txt)
    }
}


function handle_proj_center_button(param){
    current_rotation = proj.rotate();
    console.log(current_rotation);
    if(param[0]){
        proj.rotate([param[0] - w/2, current_rotation[1], current_rotation[2]]);
        map.selectAll("path").attr("d", path);
    }
    if(param[1]){
        proj.rotate([current_rotation[0], param[1] - h/2, current_rotation[2]]);
        map.selectAll("path").attr("d", path);
    }
    if(param[2]){
        proj.rotate([current_rotation[0], current_rotation[1], param[2] - h/2]);
        map.selectAll("path").attr("d", path);
    }
}


function canvas_mod_size(param){
    if(param[0]){
        w = param[0];
        console.log([w, h]);
        map.attr("width", w)
                .attr("height", h)
                .call(zoom);
        d3.select("body").select("#map").style("width", w+"px").style("height", h+"px");
    };

    if(param[1]){
        h = param[1];
        console.log([w, h]);
        map.attr("width", w)
            .attr("height", h)
            .call(zoom);
        d3.select("body").select("#map").style("width", w+"px").style("height", h+"px");
        // Change also the position of displayed coordinates when height of map is changed :
        info.style({"font-size": "14px", "margin-top": (h+10)+"px",
                      "margin-left":"5px", "color":"black"})
    }
}

</script>
</body>
</html>
