<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta  content="text/html; charset=utf-8"  http-equiv="content-type">
    <script  src="/static/js/lib/d3.js"></script>
    <script src="/static/js/lib/jquery-2.2.1.min.js"></script>
    <script  src="/static/js/lib/jquery-ui.min.js"></script>
    <script src="/static/js/lib/geostats.min.js"></script>
    <script  src="/static/js/lib/q.js"></script>
    <script  src="/static/js/discretization_panel.js"></script>
    <script  src="/static/js/lib/colorbrewer.js"></script>
    <script  src="/static/js/lib/science.v1.min.js"></script>
    <script  src="/static/js/lib/science.v1.stats.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  </head>
  <style>
#svg_ref_histo .axis label{ font-size: 10px; }
.axis line, .axis path{ fill: none; stroke: black;}
  </style>
  <body>
  <script>

// Generate some random values :
var myArray = [],
    nb_ft = Math.round(Math.random()*2100),
    max_val = 12993.5;

for (var i = 0; i < nb_ft; i++) {
  myArray.push(Math.random()*max_val);
}

// Reproduce some variables from the page in which the function is actually inserted :
var user_data = new Object(),
    h = 600,
    w = 800,
    opt_nb_class = Math.round(1 + 3.3 * Math.log10(myArray.length));

user_data["Layer_name"] = [];
for(var i=0; i < nb_ft; i++){
    user_data["Layer_name"][i] = {"value": myArray[i]};
}

// Display some info :
d3.select("body").append("div")
                 .insert("p").style({"left": "20px", "right": "20px", "color": "black"})
                 .html("<b>Array of "+nb_ft+" random reals</b> : <br><br>" + JSON.stringify(myArray.slice(0,15)).replace("]", ", ..."))

// Display the box to test :
display_discretization("Layer_name", "value", opt_nb_class, "Jenks").then(
    function(confirmed){
        if(confirmed)console.log(confirmed)
    });
    </script>
</body>
