<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta  content="text/html; charset=utf-8"  http-equiv="content-type">
    <meta  http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta  name="viewport"  content="width=device-width, initial-scale=1, user-scalable=yes">
    <title> MAPOLOGIC - {{ func }}</title>
    <script  src="/static/js/lib/d3.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.min.js"></script>
    <script topojson.version || document.write('<script src="/static/js/lib/topojson.v1.min.js">\x3C/script>')</script>
    <script  src="/static/js/lib/d3.geo.projection.js"></script>
    <script  src="/static/js/lib/polyhedron.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script window.jQuery || document.write('<script src="/static/js/lib/jquery-2.2.1.min.js">\x3C/script>')</script>
    <script  src="/static/js/lib/jquery-ui.min.js"></script>
    <script  src="/static/js/lib/geostats.min.js"></script>
    <script  src="/static/js/lib/colorbrewer.v1.min.js"></script>
    <script  src="/static/js/lib/q.js"></script>
    <script  src="/static/js/lib/cartogram.js"></script>
    <script  src="/static/js/lib/jquery.qtip.min.js"></script>
    <script  src="/static/js/lib/datatables.min.js"></script>
    <script  src="/static/js/test_interface.js"></script>
    <script  src="/static/js/layers_style_popup.js"></script>
    <script  src="/static/js/discretization_panel.js"></script>
    <script  src="/static/js/colors_helpers.js"></script>
    <script  src="/static/js/function.js"></script>
    <script  src="/static/js/legend.js"></script>
    <script  src="/static/js/join_popup.js"></script>
    <script  src="/static/js/colors_helpers.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="/static/css/discretization.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery.qtip.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css">
    <link  href="/static/css/style.css" rel="stylesheet"  type="text/css">
    <style>
        #sortable {list-style-type: none; margin: auto; padding: 0; width: 100%; color: white; border-radius: 10%}
        .ui-state-highlight {line-height: 12px; background: red}
    </style>
  </head>
  <body>
      <div id="header">
        <p style="display:inline;margin-left:10px;"><i><a href="/">MAPOLOGIC</a></i></p>
        <p id="rgt" class="header_options"><a href="https://github.com/riatelab/noname-stuff/">Sources</a>  <a href="">Documentation</a></p></div>
      <div id="menu"></div>
  	 <div id="map"></div>
      <div id="func" style="display:none">{{ func }}</div>
      <div id="user_id" style="display:none">{{ user_id }}</div>
      <a id="downloadAnchorElem" style="display:none"></a>
<script>
"use strict";
var func = document.getElementById('func').innerHTML;
var menu_option = get_menu_option(func);

{
    let inn_width = window.innerWidth,
        first_guess = Math.round((inn_width / 1.34 ) / 10)*10;

    var w = first_guess < inn_width - 390 ? first_guess : Math.round((window.innerWidth - 395 ) / 10)*10,
        h = Math.round((window.innerHeight / 1.34 ) / 10)*10;

    let _tmp = Math.min(+h, +w),
        approx_scale = _tmp > 860 ? 600 : 
                       _tmp > 405 ? 400 : 200,
        trans_0 = +w / 2 - 200,
        trans_1 = +h / 2 - 250;

    var proj = d3.geo.naturalEarth().scale(approx_scale).translate([trans_0, trans_1]);
}

var path = d3.geo.path().projection(proj).pointRadius(2),
    t = proj.translate(),
    s = proj.scale(),
    current_proj_name = "Natural Earth",
    zoom = d3.behavior.zoom().on("zoom", zoom_without_redraw);

/*
A bunch of global variable, storing oftently reused informations :
    - user_date[layer_name] : will be an Array of Objects containing data for each features of the targeted layer
            (+ the joined features if a join is done)
    - result_data[layer_name] : the same but for an eventual result layer (like Stewart, gridded, etc.)
    - joined_dataset : the joined dataset (read with d3.csv is pushed in the first slot of this array)
    - field_join_map : an array containg mapping between index of geom layer and index of ext. dataset 
    - current_layers : the main object describing **all** the layers on the map (incunding detailed, ie by features, styling properties if needed)
    - last_params : an object to fill with the last user selected paremeter after "valid" button of
            the targeted functionnality has been pushed
*/

var user_data = new Object(),
    result_data = new Object(),
    joined_dataset = [],
    field_join_map  = [],
    target_layer_on_add = false,
    targeted_layer_added = false,
    current_layers = new Object(),
    last_params = new Object(),
    dataset_name = undefined,
    join_button = null,
    map_div = d3.select("#map");

// The "map" (so actually the `map` variable is a reference to the main `svg` element on which we are drawing)
var map = map_div.style("width", w+"px").style("height", h+"px")
            .append("svg")
                .attr("id", "svg_map")
                .attr("width", w)
                .attr("height", h)
                .call(zoom);

// A bunch of references to the buttons used in the layer manager
// and some mapping to theses reference according to the type of geometry :
var button_style = ' <img src="/static/img/High-contrast-edit-clear.svg" class="style_button" width="17" height="17" alt="submit"/>',
    button_trash = ' <img src="/static/img/Trash_font_awesome.svg" class="trash_button" width="17" height="17" alt="submit"/>',
    button_zoom_fit = ' <img src="/static/img/Inkscape_icons_zoom_fit_page.svg" class="zoom_fit_button" width="17" height="17" alt="submit"/></button>',
    button_active = ' <input type="checkbox" class="active_button" name="active_button" id="active_button" checked="checked">',
    button_polygon = '<img src="/static/img/qgis_mIconPolygonLayer.svg" class="ico_type" width="17" height="17" alt="Polygon"/>',
    button_line = '<img src="/static/img/qgis_mIconLineLayer.svg" class="ico_type" width="17" height="17" alt="Line"/>',
    button_point = '<img src="/static/img/qgis_mIconPointLayer.svg" class="ico_type" width="17" height="17" alt="Point"/>',
    button_type = {"Point": button_point, "Line": button_line, "Polygon": button_polygon},
    button_type_blank = {"Point": button_point.replace(".svg", "_blank.svg"), "Line": button_line.replace(".svg", "_blank.svg"), "Polygon": button_polygon.replace(".svg", "_blank.svg")};


//current_layers["Graticule"] = {"type": "Line", "n_features":1, "stroke-width-const": "1px"}
current_layers["Sphere"] = {"type": "Polygon", "n_features":1, "stroke-width-const": "0.5px"}
current_layers["Simplified_land_polygons"] = {"type": "Polygon", "n_features":1, "stroke-width-const": "0.3px"}

//////////////////////////////////////////////////////////////////////////////
// Set-up the menu :
//////////////////////////////////////////////////////////////////////////////
{
    let menu = d3.select("#menu"),
        accordion1 = menu.append("div").attr("id","accordion1").attr("class", "accordion"),
        accordion2 = menu.append("div").attr("id","accordion2").attr("class", "accordion"),
        accordion3 = menu.append("div").attr("id","accordion3").attr("class", "accordion"),
        accordion4 = menu.append("div").attr("id","accordion4").attr("class", "accordion"),
        accordion5 = menu.append("div").attr("id","accordion5").attr("class", "accordion");

    accordion1.append("h3").html("Add your data");
    accordion2.append("h3").html(menu_option.title);
    accordion3.append("h3").html("Layers");
    accordion4.append("h3").html("Basemap configuration");
    accordion5.append("h3").html("Projection options");

    var section1 =  accordion1.append("div").attr("id","section1")
                        .attr("data-tooltip", "Drop a GeoJSON, TopoJSON, ziped shapefile project or KML file here or add manually a layer by clicking here"),
        section2 =  accordion2.append("div").attr("id","section2"),
        section3 =  accordion3.append("div").attr({"id": "section3",
                                "data-tooltip": "Drop new layout layer or click to browse locally and add one.<br> Supported type : shapefile (must be provided with .dbf and .prj files) GeoJSON, TopoJSON and KML"}),
        section4 =  accordion4.append("div").attr("id","section4"),
        section5 =  accordion5.append("div").attr("id","section5");

}

section1.insert("p")
        .attr("id", "sample_link")
        .style({"margin": "-6px 0px 1px 0px", "text-align": "right", "font-size": "10.5px", "cursor": "pointer"})
        .html('<i>Add sample data...</i>')
        .on('click', add_sample_layer);

section1.append("div")
            .attr({"class": "s1"})
        .insert("img")
          .attr({"src": "/static/img/drop_section1_small.svg", "alt": "Drop_zone_section1", "id": "img_in_geom_big"})
          .style({display: "block", "margin-left": "auto", "margin-right": "auto", height: "30px", cursor: "pointer"})
          .on('click',  add_layer);

{
    let dv1 = section1.append("div"),
        dv11 = dv1.append("div");

    dv11.append("img")
        .attr({"id": "img_in_geom", "class": "user_panel", "src": "/static/img/qgis_mActionAddLayer.svg", "width": "24", "height": "24",  "alt": "Geometry layer"})
        .style("cursor", "pointer")
        .on('click',  add_layer);
    dv11.append("p")
        .attr({id: "input_geom", class: "user_panel"})
        .style("display", "inline")
        .html("<i>No layer</i>");

    let dv12 = dv1.append("div");
    dv12.append("img")
        .attr({"id": "img_data_ext", "class": "user_panel", "src": "/static/img/add_dataset.svg", "width": "22", "height": "22",  "alt": "Additional dataset"})
        .style("cursor", "pointer")
        .on('click',  add_layer);
    dv12.append("p")
        .attr({"id": "data_ext", "class": "user_panel"})
        .style("display", "inline")
        .html('<i>No additional dataset</i></b>');
    dv1.append("p")
        .attr("id", "join_section")
        .style({"text-align": "center", "margin-top": "2px"})
        .html("");
    dv1.append("p").attr("id", "browse_section").attr("align", "center").html("");
}

var browse_table = d3.select("#browse_section")
                        .append("button")
                        .attr("id", "browse_button")
                        .attr("disabled", true)
                        .html("Explore your table(s)")
                        .on("click", function(){  boxExplore.create();  });

if(menu_option.menu_factory){
    var fill_menu = eval(menu_option.menu_factory),
        fields_handler = eval(menu_option.fields_handler);
    fill_menu();
}

var layer_list = section3.append("div").append("ul").attr("id", "sortable").attr("class", "layer_list");
//layer_list.append("li").attr("class", "ui-state-default Graticule").attr("layer-tooltip", "Graticule - Sample layout layer").html('<div class="layer_buttons">'+ button_style + button_trash + button_active + button_line + "</div> Graticule")
layer_list.append("li").attr("class", "ui-state-default Simplified_land_polygons").attr("layer-tooltip", "Simplified_land_polygons - Sample layout layer").html('<div class="layer_buttons">'+ button_style + button_trash + button_active + button_polygon + "</div> Simplified_land_polygons")
layer_list.append("li").attr("class", "ui-state-default Sphere").attr("layer-tooltip", "Sphere - Sample layout layer").html('<div class="layer_buttons">'+ button_style + button_trash + button_active + button_polygon + "</div> Sphere")
var dv3 = section3.append("div")
                .style("text-align", "center").html('');
                //.html("Drop new layout layers here or browse locally...<br>");

dv3.append("img")
    .attr("src", "/static/img/mActionAdd.svg")
    .on("click", add_layer);

dv3.append('p').style({margin: "auto", cursor: "pointer", "font-size": "10.5px", "text-align": "right"})
        .html('<i>Add sample layout layers...</i>')
        .on('click', function(){add_layout_layers();});

// Reference to the sys run button already in two requested sizes are they are called many times :
var sys_run_button = '<img src="/static/img/High-contrast-system-run.svg" width="22" height="22" alt="submit"/>',
    sys_run_button_t2 = '<img src="/static/img/High-contrast-system-run.svg" class="style_target_layer" width="16" height="16" alt="Layer_rendering" style="float:right;margin-top:4px;"/>'

{
    let dv4 = section4.append("p").attr("class", "form-item").style("margin", "auto");
    dv4.append("div")
            .style({float: "left", width: "50%", "text-align": "center"})
            .html("<b>Canvas width (px)</b><br>")
            .insert("input").style("width", "60px")
            .attr({id: "input-width", type: "number", value: w, width: "55px"})
            .on("change", function(){canvas_mod_size([this.value,null])})
    dv4.append("div")
            .style({float: "right", width: "50%", "text-align": "center"})
            .html("<b>Canvas height (px)</b><br>")
            .insert("input").style("width", "60px")
            .attr({id: "input-height", type: "number", "value": h})
            .on("change", function(){canvas_mod_size([null,this.value])})
    dv4.append("p")
            .style({"text-align": "center","margin": "5px 0px 0px 50px", "display": "inline-block"})
            .html("Map title<br>")
            .insert("input").attr("id", "title")
            .on("keyup", function(){handle_title(this.value);})
    dv4.insert("_img")
            .style("display", "inline").style("top", "4px")
            .html(sys_run_button.replace("submit", "Title properties"))
            .on("click", handle_title_properties);
    dv4.append("p").style("text-align", "center").html("Background color")
            .insert("input").style("margin-left", "15px")
            .attr({type: "color", id: "bg_color", value: "#ffffff"})
            .on("change", function(){handle_bg_color(this.value);})

    dv4.append("p")
            .html(sys_run_button + " Add layout features (arrow, scale, etc.)")
            .on("click", add_layout_features)
    dv4.append("p")
            .html(sys_run_button + " Save your preferences...")
            .on("click", load_map_template)
    dv4.append("p")
            .html(sys_run_button + " Load a preference JSON...")
            .on("click", load_map_template)
}

var dv5 = section5.append("p").attr("class", "form-item");
dv5.insert('label-item').html("<b>Projection </b><br>");

section5.append("div").html("Canvas rotation")
section5.append("input")
        .attr("type", "range")
        .attr("id","form_rotate")
        .attr("value",0).attr("min",0)
        .attr("max",360).attr("step",1)
        .on("input", function(){rotate_global(this.value)});

section5.append("div").html("Projection center (λ-axis rotation)")
section5.append("input")
        .attr("type", "range")
        .attr("id","form_projection_center")
        .attr("value", 0).attr("min", 0)
        .attr("max", 360).attr("step", 0.5)
        .on("input", function(){handle_proj_center_button([this.value, null, null])});

var info_coords = map_div.append("div").attr("class", "light-menu-bottom")
            .style({position:"absolute", bottom:"-40px", left:"0px", "z-index":-1})
            .append("p").attr("id", "info_coords")
              .style({"font-size": "14px", "margin-left":"5px", "color":"black"})
              .html("");

// These variables (background, p, const_options, etc.) are not needed anymore 
// after being used here so they are put into curly braces to ensure garbage collection (?):
{
    /*
    // Actually the graticule seems to consume a lot of ressources
    // .. so maybe the user will add it if needed (in "layout features")
    // .. but it wont be displayed on page opening :
    map.append("g").attr({id: "Graticule", class: "layer"})
                   .append("path")
                   .attr("class", "graticule")
                   .datum(d3.geo.graticule())
                   .attr("d", path);
    */

    // Instead the path of the sphere should be efficient enough to spot 
    // .. the earth limits :
    map.append("g").attr({id: "Sphere", class: "layer", "stroke-width": "0.5px",  "stroke": "black"})
        .append("path")
        .datum({type: "Sphere"})
        .style({fill: "lightblue", "fill-opacity": 0.2})
        .attr("id", "sphere")
        .attr("d", path);

    let background = map.append("g")
                        .attr({id: "Simplified_land_polygons", class: "layer"})
                        .style({"stroke-width": "0.3px"});


    d3.json("/database/topojson/simplified_land_polygons.topojson", function ready(error, json) {
        background.selectAll('path')
                  .data(topojson.feature(json, json.objects.simplified_land_polygons).features)
                  .enter()
                  .append('path')
                  .style({stroke: "rgb(0,0,64)", fill: "lightgrey"});
        map.selectAll("path").attr("d", path);  
    });

    let p = dv5.append("select").attr("id","form_projection").style("align", "center").on("change", change_projection);
    d3.json("/static/json/projections.json", function(json) {
       json.forEach(function(d) {
            p.append("option").text(d.name).attr("value", d.projection);
           });   
    });

    let const_options = d3.select("body").append("div").attr("id", "const_options")
    const_options.append("button").attr("class", "const_buttons")
                  .attr("title", "Export your composition")
                  .html('<img src="/static/img/Wikiversity-Mooc-Icon-Download_modif.svg" width="24" height="24" alt="Export"/>')
                  .style("margin-top", "none")
                  .on("click", export_compo);

    const_options.append("button").attr("class", "const_buttons")
                  .attr("title", "Export / Load your map preferences")
                  .html('<img src="/static/img/High-contrast-system-run.svg" width="24" height="24" alt="export_load_preferences"/>')
                  .style("margin-top", "none")
                  .on("click", function(){
                      make_confirm_dialog("Not implemented").then(function(confirmed){
                          if(confirmed) console.log(true);else console.log(false)});
                  });

    const_options.append("button").attr("class", "const_buttons")
                  .attr("title", "Help")
                  .html('<img src="/static/img/High-contrast-help-browser.svg" width="24" height="24" alt="export_load_preferences"/>')
                  .style("margin-top", "none")
                  .on("click", function(){alert('Emergency help!');});

    // Zoom-in, Zoom-out, Info, Hand-Move and RectZoom buttons (on the top of the map) :
    let lm = map_div
                .append("div")
                .attr("class", "light-menu")
                .style({position:"absolute", top:"-34px", left: "-4px"});

    lm.append("input")
        .attr("type", "button")
        .attr("class", "zoom_button")
        .attr("value", "-")
        .attr("title", "Zoom out")
        .attr("id", "zoom_out");

    lm.append("input")
            .attr("type", "button")
            .attr("class", "zoom_button")
            .attr("value", "+")
            .attr("title", "Zoom in")
            .attr("id", "zoom_in");

    lm.append("input")
            .attr("type", "button")
            .attr("class", "info_button")
            .attr("value", "i")
            .attr("title", "Display features informations")
            .attr("id", "info_button");

    lm.append("button")
            .attr("class", "hand_button active")
            .attr("id", "hand_button")
            .attr("title", "Use the cursor to move on the map (default behavior)")
            .html('<img src="/static/img/Closed_Hand_thenounproject.svg" width="18" height="18" alt="Hand_closed"/>')
            .style('box-shadow', 'inset 2px 2px 1px black')
            .on("click", function(){handle_click_hand();});

    let brush_rect = handle_click_zoom_select(); // Pretty ugly closure to remember the last click-on-the-map behavior

    lm.append("button")
            .attr("class", "brush_zoom_button")
            .attr("id", "brush_zoom_button")
            .attr("title","Zoom on selection")
            .classed("active", false)
            .html('<img src="/static/img/Inkscape_icons_zoom_fit_selection.svg" width="18" height="18" alt="Zoom_select"/>')
            .on("click", function(){brush_rect()});


}

// Already append the div for displaying information on features,
// setting it currently unactive until it will be requested :
d3.select("body").append("div")
              .attr("id", "info_features")
              .classed("active", false)
              .html("");

// Trigger actions when buttons are clicked and set-up the initial view :
d3.selectAll(".zoom_button").on("click", zoomClick);
d3.selectAll(".info_button").on("click", displayInfoOnMove);
d3.select("svg").on("mousemove", function(){log_coordinates(this)});
binds_layers_buttons();
zoom.scale(0.5).translate([400, 250]);
zoom_without_redraw();

// Trigger a periodical call to a function sending current map preference to the server :
setInterval(sendPreferences, 300000);

prepare_drop_section();
/////////////////////////////////////////////////////////////////////////////
// JQuery menu, tooltips and progress bar related functions :
//////////////////////////////////////////////////////////////////////////////

// Trigger the accordions, start with the first one (section 1) open :
$(".accordion").accordion({ collapsible: true, active: false, heightStyle: "#map" });
$("#accordion1").accordion({ collapsible: true, active: 0, heightStyle: "#map" });
 
$(function() {
  $( "#sortable" ).sortable({
    placeholder: "ui-state-highlight",
    update: function(a){
      // Set the layer order on the map in concordance with the user changes
      // in the layer manager with a pretty rusty sorting algorythm
      // trying to match the requested order from the actual order
      // (currently havent been tested on a really large number of layers)
      var desired_order = [],
          actual_order = [],
          layers = d3.selectAll("svg").node();
    
      for(let i=0, len_i = a.target.childNodes.length; i < len_i; i++){
          var n = (a.target.childNodes[i].innerHTML.split("></div> ")[1]).split(" - ");
          desired_order[i] = n[n.length - 1];
          actual_order[i] = layers.children[i].id;
      }
      for(let i = 0, len = desired_order.length; i < len; i++){
          let lyr1 = d3.select("#"+desired_order[i]).node(),
              lyr2 = d3.select("#"+desired_order[i+1]).node() || d3.select("#"+desired_order[i]).node();
          layers.insertBefore(lyr2, lyr1);
      }
     }
  });
  $( "#sortable" ).disableSelection();
});

// Display a progress bar during the ajaxRequest
// (can be unset locally by using the `"global": false` param when making an ajax request)
$(document).ajaxStart(function() {
        var bg = document.createElement('div');
        bg.className = 'overlay';
        var prog_bar = map_div.append("div")
                         .style({position: "absolute",top: "-20px", left: (w/4)+"px", "text-align": "center", "color": "black", "z-index": 2})
                         .attr("id", "progressbar")
                         .html('<img src="/static/img/ajax-loader.gif" style="width:' + (w/3) + 'px"/><br>Loading layer ...');
        (document.body || document.documentElement).appendChild(bg);
    }).ajaxComplete(function() {
        d3.selectAll("#progressbar").remove();
        d3.selectAll(".overlay").remove();
});

// bind the mains tooltips 
$("[data-tooltip!='']").qtip({
    content: { attr: "data-tooltip" },
    style: { classes: 'qtip-youtube' },
    position: { my: 'center left', at: 'center right', target: this }
})


////////////////
// To sort:
////////////////

// To bind the set of small buttons (trash icon, paint icon, active/deactive visibility, info tooltip, etc..)
// which are on each feature representing a layer in the layer manager
// (the function is called each time that a new feature is put in this layer manager)
function binds_layers_buttons(){
    d3.selectAll(".trash_button").on("click", remove_layer);
    d3.selectAll(".active_button").on("change", handle_active_layer);
    d3.selectAll(".zoom_fit_button").on("click", function(){
        let layer_name = this.parentElement.parentElement.innerHTML.split("</div> ")[1];
        if(layer_name.indexOf(' - ') > -1) layer_name = layer_name.split(' - ')[1];
        center_map(layer_name);
        zoom_without_redraw();
    });
    d3.selectAll(".style_button").on("click", function(){
        handle_click_layer(this.parentElement.parentElement.innerHTML.split("></div> ")[1])
    });
    d3.selectAll(".style_target_layer").on("click", function(){
        handle_click_layer(this.parentElement.parentElement.innerHTML.split("></div> ")[1])
    });
    $("[layer-tooltip!='']").qtip({
        content: { attr: "layer-tooltip" },
        style: { classes: 'qtip-rounded qtip-light qtip_layer'}
    });
}

// Function to display information on the top layer (in the layer manager)
// it will only works on layers appearing in blue in the layer manager
// (ie. the targeted layer and result(s?) layer(s?))
function displayInfoOnMove(){
    var info_features = d3.select("#info_features"),
        target_lyr = Object.getOwnPropertyNames(user_data),
        result_lyr = Object.getOwnPropertyNames(result_data),
        nb_layer = d3.select('svg').selectAll(".layer")[0].length,
        top_layer = d3.select('svg').selectAll(".layer")[0][nb_layer-1].id;

    if(target_lyr.length === 0 && result_lyr.length === 0){
        alert("Informations are only displayed on the targeted layer or its result");
    } else if(target_lyr > 1){
        alert("Too many layers to handle");
    } else if(top_layer !== target_lyr[0] && top_layer !== result_lyr[0]){
        alert("The layer to explore have to be in the top of the others");
    } else {
        let svg_layer = "#"+top_layer;
        if(info_features.classed("active")){
            d3.select(".info_button").style('box-shadow', null);
            d3.select(svg_layer).selectAll("path").on("mouseover", null)
            info_features.classed("active", false);
            info_features.node().innerHTML = ""
            info_features.style({});
            document.getElementById("map").style.cursor="";
        } else {
            //let obj_ref = (top_layer === target_lyr[0]) ? user_data : result_data;
            d3.select(".info_button").style('box-shadow', 'inset 2px 2px 1px black');
            d3.select(svg_layer).selectAll("path").on("mouseover", function(d){
                var item_nb = Number((this.id).split('_')[1]),
                    ft = user_data[svg_layer.substring(1, svg_layer.length)] ? user_data[svg_layer.substring(1, svg_layer.length)][item_nb] : result_data[svg_layer.substring(1, svg_layer.length)][item_nb],
                    txt_info = ["<h2>Features #", item_nb, "</h2><br><i>",
                                current_layers[svg_layer.substring(1, svg_layer.length)].type,
                                "</i><br>"];
                Object.getOwnPropertyNames(ft).forEach(function(el, i){
                    txt_info.push("<br><b>"+el+"</b> : "+ft[el]);
                    });
                info_features.node().innerHTML = txt_info.join('');
            });
            d3.select(svg_layer).attr("d", path).on("mouseout", function(){
                info_features.node().innerHTML = "";});
            info_features.classed("active", true);
            document.getElementById("map").style.cursor="help";
        }
    }
}

function reproj(){
  proj.translate([t[0], t[1]]);
  proj.scale(s)
  map.selectAll("path").attr("d", path);
  if(func.indexOf('prop_symbol') != -1 || func.indexOf('MTA') != -1){
    let pt_layer = d3.select('.result_layer');
    if(pt_layer.node()){
      let lyr_name = pt_layer.attr("id"),
          ref_lyr_name = lyr_name.substring(0, lyr_name.indexOf('_Prop')),
          idx_map = current_layers[lyr_name].id_size_map,
          symbol = current_layers[lyr_name].symbol,
          new_coords = new Array();
      map.select("#" + ref_lyr_name).selectAll("path").each(function(d, i){new_coords.push(path.centroid(d))});
      pt_layer.selectAll(symbol)
                .attr("cx", function(d, i){
                    let _id = idx_map[i];
                    return new_coords[_id][0];
                    })
                .attr("cy", function(d, i){
                    let _id = idx_map[i];
                    return new_coords[_id][1];
                    })
    }
  }
}

var trim = function(s){
    return s.replace(/^\s+|\s+$/,'');
};

function qs(str){
    return document.querySelector(str);
};

// Convenience function to make a confirm dialog returning a defered promise 
// which can be used like `myConfirmDialog("Confirm", "ok", "cancel").then(function(confirmed){if(confirmed){ ... }})
var make_confirm_dialog = function(html_content, text_ok, text_cancel, title, class_box, width, height, top){
    html_content = html_content || "";
    text_ok = text_ok || "Ok";
    text_cancel = text_cancel || "Cancel";
    title = title || "Confirm ...";
    class_box = class_box || "dialogBox";
    var deferred = Q.defer();
    d3.select("body").append("div")
        .attr("id", "dialog").attr("class", class_box)
        .attr("title", title).html(html_content);

    $( "#dialog" ).dialog({
        position: top ? { my: "center", at: "top" } : undefined, width: width, height: height, modal:true, 
        buttons:[
           {
            text: text_ok,
            click: function(){ deferred.resolve(true); $(this).dialog("close"); }
                },
           {
            text: text_cancel,
            click: function(){ $(this).dialog("close"); $(this).remove(); }
           }],
        close: function(event, ui){
                $(this).dialog("destroy").remove();
                if(deferred.promise.isPending())
                    deferred.resolve(false);
            }
      });
    return deferred.promise;
};


function log_coordinates(t){
  var coords = proj.invert(d3.mouse(t)),
      txt = [];

  if(coords[0]>0) txt.push("E")
  else txt.push("W")

  if(coords[1]>0) txt.push("N")
  else txt.push("S")
  info_coords.node().innerHTML = [txt[0], coords[0].toFixed(6), ' - ', txt[1], coords[1].toFixed(6)].join(' ');
};

// Wrapper to obtain confirmation before actually removing a layer :
function remove_layer(){
    var name = this.parentElement.parentElement.innerHTML.split("></div> ")[1].trim();

    var txt_dialog = "Remove layer '" + name + "' ?";
    make_confirm_dialog(txt_dialog, "Confirm", "Cancel", "Confirm deletion").then(function(confirmed){
        if(confirmed){
            remove_layer_cleanup(name);
        }
    });
}

// Do some clean-up when a layer is removed 
// Most of the job is to do when it's the targeted layer which is removed in
// order to restore functionnalities to their initial states
function remove_layer_cleanup(name){
     let g_lyr_name = "#"+name;

     // Making some clean-up regarding the result layer :
    if(current_layers[name].is_result){
        d3.selectAll("#display_legend").remove();
        d3.selectAll("#legend_root").remove();
        d3.selectAll("#legend_root2").remove();
        d3.selectAll(".source_block").remove();
        if(result_data.hasOwnProperty(name))
            delete result_data[name];
    }

    // Remove the layer from the map and from the layer manager :
    d3.select(g_lyr_name).remove();
    d3.select("#sortable").select('.'+name).remove();

    // Reset the panel displaying info on the targeted layer if she"s the one to be removed :
    if(current_layers[name].targeted){
        fields_handler.unfill()
        d3.select("#img_in_geom").attr({"id": "img_in_geom", "class": "user_panel", "src": "/static/img/qgis_mActionAddLayer.svg", "width": "24", "height": "24",  "alt": "Geometry layer"}).on('click',  add_layer);
        //d3.select("#func_button").node().disabled = true;
        document.getElementById("input_geom").innerHTML = "<b><i>No layer</i></b>";
        document.getElementById("func_button").disabled = true;
        field_join_map = [];
        delete user_data[name];
        targeted_layer_added = false;
        // Redisplay the top of the section 1 in the menu allowing user to drop layer or select a sample layer :
        d3.select("#sample_link").html("<i>Add sample data...</i>").on("click", add_sample_layer)
        d3.select(".s1").html('<img style="display: block; margin-left: auto; margin-right: auto; height: 30px; cursor: pointer;" id="img_in_geom_big" alt="Drop_zone_section1" src="/static/img/drop_section1_small.svg">')
        d3.select("#section1").style({"height": joined_dataset.length == 0 ? "135px" : "165px"})
    }

    // Restore the state of the bottom of the section 1 :
    if(d3.select("#join_button").node() != null && current_layers[name].targeted)
        valid_join_check_display();

    // If there isn't nor a targeted layer neither an external dataset :
    if(joined_dataset.length == 0 && current_layers[name].targeted)
        browse_table.node().disabled = true;

    // There is probably better ways in JS to delete the object,
    // but in order to make it explicit that we are removing it :
    delete current_layers[name];
}

function load_map_template(){
    alert("Not implemented!");
}

// Change color of the background (ie the parent "svg" element on the top of which group of elements have been added)
function handle_bg_color(color){
    map.style("background-color", color);
}

function handle_click_hand(){
    var hb = d3.select('.hand_button');
    if(hb.classed("active")){
        hb.style('box-shadow', "none").classed("active", false);
        zoom.on("zoom", null);
    } else {
        hb.style('box-shadow', 'inset 2px 2px 1px black').classed("active", true);
        zoom.on("zoom", zoom_without_redraw);
        map.on("mousemove.zoomRect", null).on("mouseup.zoomRect", null);
    }
}

// Trying to handle zooming using a rectangle on the map
function handle_click_zoom_select(){
    var last_click_behavior;
    return function(){
        var hand_button = d3.select('.hand_button'),
            zoom_sel_button = d3.select('.brush_zoom_button');
        if(zoom_sel_button.classed("active")){
            zoom_sel_button.style('box-shadow', "none").classed("active", false);
            if(last_click_behavior == "zoom"){
                map.on("mousedown", null);
                zoom.on("zoom", zoom_without_redraw);
                map.on("mousemove.zoomRect", null).on("mouseup.zoomRect", null);
                hand_button.style('box-shadow', 'inset 2px 2px 1px black').classed("active", true);
            } else {
                zoom.on("zoom", null);
                map.on("mousedown", null)
                    .on("mousemove.zoomRect", null)
                    .on("mouseup.zoomRect", null);
            }
        } else {
            if(hand_button.classed("active")){
                hand_button.style('box-shadow', "none")
                            .classed("active", false);
                zoom.on("zoom", null);
                last_click_behavior = "zoom";
            } else last_click_behavior = "";
            zoom_sel_button.classed("active", true);
            zoom_sel_button.style('box-shadow', 'inset 2px 2px 1px black');
            map.on("mousedown", function(){
                var e = this,
                    origin = d3.mouse(e),
                    rect = d3.select("svg").append("g").append("rect").attr("class", "zoom_rect");
                d3.select("body").classed("noselect", true);
                origin[0] = Math.max(0, Math.min(w, origin[0]));
                origin[1] = Math.max(0, Math.min(h, origin[1]));
                map.on("mousemove.zoomRect", function() {
                        var m = d3.mouse(e);
                        m[0] = Math.max(0, Math.min(w, m[0]));
                        m[1] = Math.max(0, Math.min(h, m[1]));
                        rect.attr("x", Math.min(origin[0], m[0]))
                        .attr("y", Math.min(origin[1], m[1]))
                        .attr("width", Math.abs(m[0] - origin[0]))
                        .attr("height", Math.abs(m[1] - origin[1]));
                        })
                   .on("mouseup.zoomRect", function() {
                        map.on("mousemove.zoomRect", null).on("mouseup.zoomRect", null);
                        d3.select("body").classed("noselect", false);
                        var m = d3.mouse(e);
                        m[0] = Math.max(0, Math.min(w, m[0]));
                        m[1] = Math.max(0, Math.min(h, m[1]));
                        if (m[0] !== origin[0] && m[1] !== origin[1]) {
                            var b = [origin, m]
                            var s = Math.abs(.95 / Math.max((b[1][0] - b[0][0]) / w, (b[1][1] - b[0][1]) / h)),
                                t = [-Math.abs((w - s * (b[1][0] + b[0][0])) / 2), -Math.abs((h - s * (b[1][1] + b[0][1])) / 2)];
                            console.log(s, t);
                            zoom.scale(s);
                            zoom.translate(t);
                        }
                        rect.remove();
                        zoom_without_redraw();
                      }, true);
                d3.event.stopPropagation();
            });
    
        }
    }
}

function get_map_template(){   //  ... or maintain up-to-date a global Object() containing these options ?
    var map_config = new Object(),
        layers_style = [],
        layers = d3.selectAll("svg").selectAll("g:not(.legend_feature)");

    map_config.projection = current_proj_name;
    map_config.projection_scale = proj.scale();
    map_config.projection_translate = proj.translate();
    map_config.projection_center = proj.center();
    map_config.projection_rotation = proj.rotate();
    map_config.zoom_translate = zoom.translate();
    map_config.zoom_scale = zoom.scale();
    map_config.div_width = w;
    map_config.div_height = h;
    map_config.n_layers = layers[0].length;

    // Todo : re-handle the whole unsupported part of this function, i.e. the block coming next :

    for(let i=map_config.n_layers-1; i >= 0; --i){
        let layer_name = layers[0][i].id;
        layers_style[i] = new Object();
        layers_style[i].layer_name = layer_name;
        if(layer_name.indexOf('PropSymbols') !== -1){
            let type_symbol = current_layers[layer_name].symbol,
                selection = d3.select("#" + layer_name).selectAll(type_symbol);
            layers_style[i].symbol = type_symbol;
            layers_style[i].rendered_field = current_layers[layer_name].rendered_field;
            layers_style[i].size_params = current_layers[layer_name].size;
            layers_style[i].fill = selection.style("fill");
            layers_style[i].fill_opacity = selection.style("fill-opacity");
        } else {
            layers_style[i].cache_url = [d3.select("#user_id").html(), "nuts2_data"].join('_');
            let selection = d3.select("#" + layer_name).selectAll("path");
            // Todo : re-handle the stroke parameter
            //layers_style[i].stroke = selection.style("stroke");
            //layers_style[i].stroke_opacity = selection.style("stroke-opacity");
            //layers_style[i].stroke_width = d3.select("#" + layer_name).style("stroke-width");
            //layers_style[i].fill_opacity = selection.style("fill-opacity");
        /*
            if(!current_layers[layer_name].rendered || current_layers[layer_name].rendered !== "Choropleth"){
                layers_style[i].fill = selection.style("fill");
            } else {
                //layers_style[i].fill = current_layer[layer_name].colors_breaks;
                layers_style[i].rendered_field = current_layers[layer_name].rendered_field;
            }
        */
        }
    }
    return JSON.stringify({"map_config": map_config, "layers": layers_style})
}

// Function triggered when the user request a download of its map preferences
function save_map_template(){
    var json_params = get_map_template(),
        dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(json_params),
        dlAnchorElem = document.getElementById('downloadAnchorElem');
    dlAnchorElem.setAttribute("href", dataStr);
    dlAnchorElem.setAttribute("download", "noname_properties.json");
    dlAnchorElem.click();
}

// Function triggered each 5 minutes and when a major modification (like style modification on a layer)
// is done in order to keep basic informations about the map properties user (zoom, position, layers & styles, etc.)
function sendPreferences(){
    var json_params = get_map_template(),
        FormToSend = new FormData();
    FormToSend.append("config", json_params)
    $.ajax({
       type: 'POST',
       url: '/save_user_pref', 
       processData: false,
       contentType: false,
       data: FormToSend,
       global: false, 
       success: function(d) {console.log(d);}
    }); // 'global' is set to false to prevent the ajaxStart event to display the progress bar requested on other ajax calls
}

//////////////////////////////////////////////////////////////////////////////
// Zooming functions (some from http://bl.ocks.org/linssen/7352810)
//////////////////////////////////////////////////////////////////////////////

function zoom_without_redraw(){
    map.selectAll("g:not(.legend_feature)")
              .transition()
              .duration(30)
              .attr("transform", "translate(" + zoom.translate() + ")scale(" + zoom.scale() + ")");
    let layers = Object.getOwnPropertyNames(current_layers);
    if(layers.indexOf("Graticule") !== -1){
        layers.splice(layers.indexOf("Graticule"), 1)
        d3.select('#Graticule').style("stroke-width", current_layers["Graticule"]['stroke-width-const'].split("px")[0] / zoom.scale() + "px" );
    }
    if(layers.indexOf("Simplified_land_polygons") !== -1){
        layers.splice(layers.indexOf("Simplified_land_polygons"), 1)
        d3.select('#Simplified_land_polygons').style("stroke-width", current_layers["Simplified_land_polygons"]['stroke-width-const'].split("px")[0] / zoom.scale() + "px" );
    }
    if(layers.length > 0){
        for(let i=0, i_len = layers.length; i < i_len; i++){
            let lyr_name = layers[i];
            if(current_layers[lyr_name].fixed_stroke)
                d3.select('#'+ lyr_name).style("stroke-width", current_layers[lyr_name]['stroke-width-const']);
            else
                d3.select('#'+ lyr_name).style("stroke-width", current_layers[lyr_name]['stroke-width-const'].split("px")[0] / zoom.scale() +  "px");
        }
    }
};

function interpolateZoom(translate, scale) {
    var self = this;
    return d3.transition().duration(225).tween("zoom", function () {
        var iTranslate = d3.interpolate(zoom.translate(), translate),
            iScale = d3.interpolate(zoom.scale(), scale);
        return function (t) {
            zoom.scale(iScale(t)).translate(iTranslate(t));
            zoom_without_redraw()
        };
    });
}

function zoomClick() {
    var clicked = d3.event.target,
        direction = 1,
        factor = 0.1,
        target_zoom = 1,
        center = [w / 2, h / 2],
        translate = zoom.translate(),
        translate0 = [],
        l = [],
        view = {x: translate[0], y: translate[1], k: zoom.scale()};

    d3.event.preventDefault();
    direction = (this.id === 'zoom_in') ? 1 : -1;
    target_zoom = zoom.scale() * (1 + factor * direction);

    translate0 = [(center[0] - view.x) / view.k, (center[1] - view.y) / view.k];
    view.k = target_zoom;
    l = [translate0[0] * view.k + view.x, translate0[1] * view.k + view.y];

    view.x += center[0] - l[0];
    view.y += center[1] - l[1];

    interpolateZoom([view.x, view.y], view.k);
}


////
// Old zooming functions - too use when redrawing on zooming
/////

function redraw(sc, tr) {
  sc = sc || d3.event.scale;
  tr  = tr || d3.event.translate;
  let tx = t[0] * sc + tr[0],
      ty = t[1] * sc + tr[1];
  proj.translate([tx, ty])
    .scale(s * sc);
  map.selectAll(".layer").selectAll("path").attr("d", path);
  return [sc, tr];
}
/*
function interpolateZoom(translate, scale) {
    return d3.transition().duration(225).tween("zoom", function () {
        var iTranslate = d3.interpolate(proj.translate(), translate),
            iScale = d3.interpolate(proj.scale(), scale);
        return function (t) {
            proj.scale(iScale(t)).translate(iTranslate(t));
            zoom.scale(scale/s);
            map.selectAll(".layer").selectAll("path").attr("d", path);
        };
    });
}

function zoomClick() {
    var clicked = d3.event.target,
        direction = 1,
        factor = 0.1,
        target_zoom = 1,
        extent = zoom.scaleExtent(),
        translate = proj.translate(),
        translate0 = [], l = [],
        p_scale = proj.scale();

    d3.event.preventDefault();
    direction = (this.id === 'zoom_in') ? 1 : -1;
    target_zoom = zoom.scale() * (1 + factor * direction);

    if (target_zoom < extent[0] || target_zoom > extent[1]) { return false; }

    translate0 = [(translate[0] - t[0]) / p_scale, (translate[1] - t[1]) / p_scale];
    l = [translate0[0] * p_scale + t[0], translate0[1] * p_scale + t[1]];
    target_zoom = target_zoom * s // 's' is the reference proj.scale

    interpolateZoom(l, target_zoom);
}

function rotate_global(angle){
    d3.selectAll("svg").selectAll("g:not(.legend_feature)")
      .transition()
      .duration(10)
      .attr("transform", "rotate(" + angle + ","+ w / 2 +","+  h / 2 +")");
};


*/
//////////////////////////////////////////////////////////////////////////////
// Rotation functions :
//////////////////////////////////////////////////////////////////////////////

function rotate_global(angle){
    let ztrans = zoom.translate();
    map.selectAll("g:not(.legend_feature)")
      .transition()
      .duration(10)
      .attr("transform", ["rotate(", angle, ",",  w / 2, ",",  h / 2, "),",
                          "translate(", ztrans[0], ",", ztrans[1], "),",
                          "scale(", zoom.scale(), ")"].join(''));
};

function change_projection() {
    var current_proj_name = this.value.split('()')[0].split('.')[2]

    // Update global variables:
    proj = eval(this.value);
    path = d3.geo.path().projection(proj);
    t = proj.translate();
    s = proj.scale();

    // Do the reprojection :
    reproj();

    // Set specifics mouse events according to the projection :
    if(strContains(current_proj_name, 'orthographic')){
        var current_params = proj.rotate();
        section5.append("div").attr("class", "options_ortho").html("Projection center (φ-axis rotation)")
                .insert("input")
                .attr("type", "range")
                .attr("id","form_projection_phi")
                .attr("value", current_params[1]).attr("min", -180)
                .attr("max", 180).attr("step", 0.5)
                .on("input", function(){handle_proj_center_button([null, this.value, null])})
                
        section5.append("div").attr("class", "options_ortho").html("Projection center (γ-axis rotation)")
                .insert("input")
                .attr("type", "range")
                .attr("id","form_projection_gamma")
                .attr("value", current_params[2]).attr("min", -90)
                .attr("max", 90).attr("step", 0.5)
                .on("input", function(){handle_proj_center_button([null, null, this.value])});
    } else {
        var options_ortho = d3.selectAll(".options_ortho");
        if(options_ortho.node()){options_ortho.remove()}
    }
    d3.select("svg").on("mousedown", null)
                    .on("mousemove", function(){log_coordinates(this)})
                    .on("mouseup", null);
}   

//////////////////////////////////////////////////////////////////////////////
// Used for the sphere rotation when orthographic projection is enabled :
//////////////////////////////////////////////////////////////////////////////

var λ = d3.scale.linear()
    .domain([0, w])
    .range([-180, 180]);

var φ = d3.scale.linear()
    .domain([0, h])
    .range([90, -90]);

// Function to switch the visibility of a layer with the checkbox designed for
function handle_active_layer(){
    let name = this.parentElement.parentElement.innerHTML.split("></div> ")[1].trim(),
        fill_value = this.checked ? 1 : 0;
    d3.selectAll("#"+name).style("opacity", fill_value);
}

// Function to handle the title add and changes 
function handle_title(txt){
    var title = d3.select("#map_title");
    if(title.node()){
        title.text(txt)
    } else {
        map.append("g")
             .attr("class", "legend_feature title")
          .insert("text")
             .attr({id: "map_title", x: "50%", y: "8%", "alignment-baseline": "middle", "text-anchor": "middle"})
             .style({"font-family": "Arial, Helvetica, sans-serif", "font-size": "20px", position: "absolute", color: "black"}).text(txt)
    }
}

function handle_title_properties(){
    var title = d3.select("#map_title");
    if(!title.node()){
        alert("No title no style...")
        return;
    }
    var title_props = {
        size: title.style("font-size"),
        color: title.style("color"),
        position_x: title.attr("x"),
        position_y: title.attr("y"),
        font_family: title.style("font-family")
        };

    // Properties on the title are changed in real-time by the user then it will be rollback to original properties if Cancel is clicked
    make_confirm_dialog("", "Valid", "Cancel", "Title properties", "mapTitleitleDialogBox", 280).then(
        function(confirmed){ if(!confirmed)
            title.style("font-size", title_props.size)
                .style("color", title_props.color)
                .style("font-family", title_props.font_family)
                .attr({x: title_props.position_x, y: title_props.position_y});
        });
    var box_content = d3.select(".mapTitleitleDialogBox").append("div");
    var available_fonts = [
        ['Arial', 'Arial,Helvetica,sans-serif'],
        ['Arial Black', 'Arial Black,Gadget,sans-serif'],
        ['Comic Sans MS', 'Comic Sans MS,cursive,sans-serif'],
        ['Impact', 'Impact,Charcoal,sans-serif'],
        ['Georgia', 'Georgia,serif'],
        ['Lucida', 'Lucida Sans Unicode,Lucida Grande,sans-serif'],
        ['Palatino', 'Palatino Linotype,Book Antiqua,Palatino,serif'],
        ['Tahoma', 'Tahoma,Geneva,sans-serif'],
        ['Trebuchet MS', 'Trebuchet MS, elvetica,sans-serif'],
        ['Verdana', 'Verdana,Geneva,sans-serif']
        ];
    box_content.append("p").html("Font-size :<br>")
        .insert("input").attr({type: "number", min: 2, max:40, step:1, value: +title_props.size.split("px")[0]}).style({width: "50px"})
        .on("change", function(){  title.style("font-size", this.value + "px");  });
    box_content.append("p").html("x position (% from the left side) :<br>")
        .insert("input").attr({type: "number", min: 0, max:100, step:1, value: +title_props.position_x.split("%")[0]}).style({width: "50px"})
        .on("change", function(){  title.attr("x", this.value + "%");  });
    box_content.append("p").html("y position (% from the top) :<br>")
        .insert("input").attr({type: "number", min: 0, max:100, step:1, value: +title_props.position_y.split("%")[0]}).style({width: "50px"})
        .on("change", function(){  title.attr("y", this.value + "%");  });
    box_content.append("p").html("Font color :<br>")
        .insert("input").attr({type: "color", value: title_props.color})
        .on("change", function(){  title.style("color", this.value);  });
    var font_select = box_content.append("p").html("Font family :<br>")
        .insert("select").attr("class", "params")
        .on("change", function(){  title.style("font-family", this.value); });
    available_fonts.forEach(function(font){ font_select.append("option").text(font[0]).attr("value", font[1]) });
    font_select.node().selectedIndex = available_fonts.map(d => d[1] == title_props.font_family ? "1" : "0").indexOf("1");
    return;
}

// Function to change (one of ) the three rotations axis of a d3 projection
// and redraw all the path in respect to that
function handle_proj_center_button(param){
    let current_rotation = proj.rotate();
    if(param[0]){
        proj.rotate([param[0] - w/2, current_rotation[1], current_rotation[2]]);
        map.selectAll("path").attr("d", path);
    }
    if(param[1]){
        proj.rotate([current_rotation[0], param[1] - h/2, current_rotation[2]]);
        map.selectAll("path").attr("d", path);
    }
    if(param[2]){
        proj.rotate([current_rotation[0], current_rotation[1], param[2] - h/2]);
        map.selectAll("path").attr("d", path);
    }
}

// Function triggered by the change of map/canvas size
// Args :
//   - param (Array of two elements : width and height to use; generally only used
//            once at the time so `param` values are like [null, 750] or [800, null])
function canvas_mod_size(param){
    if(param[0]){
        w = param[0];
        map.attr("width", w)
            .call(zoom_without_redraw);
        map_div.style("width", w+"px");
    }
    if(param[1]){
        h = param[1];
        map.attr("height", h)
            .call(zoom_without_redraw);
        map_div.style("height", h+"px");

        // Change also the position of displayed coordinates when height of map is changed :
        info_coords.style({"font-size": "14px", "margin-top": (Number(h)+10)+"px",
                      "margin-left":"5px", "color":"black"});

        // And change the position of the `source` element displayed in the bottom of the map :
        d3.selectAll(".source_block").select("text").attr("y", h-10)
    }
}

function export_compo(){
    // Todo : ask for output format (svg / png) before conversion / ! \
    var targetCanvas = d3.select("body").append("canvas").attr({id: "canvas_map_export", height: h, width: w}).node(),
        targetSVG = document.querySelector("#svg_map"),
        svg_xml = (new XMLSerializer()).serializeToString(targetSVG),
        ctx = targetCanvas.getContext('2d'),
        mime_type = "image/png",
        img = new Image();

    img.src = "data:image/svg+xml;base64," + btoa(svg_xml);
    img.onload = function() {
        ctx.drawImage(img, 0, 0);
        var imgUrl = targetCanvas.toDataURL(mime_type),
            dl_link = document.createElement("a");
    
        dl_link.download = "export.png";
        dl_link.href = imgUrl;
        dl_link.dataset.downloadurl = [mime_type, dl_link.download, dl_link.href].join(':');
        document.body.appendChild(dl_link);
        dl_link.click();
        dl_link.remove();
        targetCanvas.remove();
    }
}

</script>
</body>
</html>
