# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
/dist/
downloads/
eggs/
.eggs/
src/

# Virtual environnements
venv/

# lib/ dont exclude lib to grab JS libs
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

#R non-useful files :
.RData
.Rhistory
Rplots.pdf

# Temporary folder to ignore :
tmp/

# Node / npm files to ignore :

.npm
.grunt
.eslintcache
.node_repl_history
node_modules/
jspm_packages/

# Exception for the builded js file of Magrit:
!magrit_app/static/dist

