language: python
python:
  - "3.6"
sudo: required
dist: xenial
services:
  - redis-server
cache:
  directories:
    - $GDALINST
    - ~/.cache/pip
env:
  global:
    - OTHER_PY_PACKAGES=$HOME/py_tmp
    - GDALINST=$HOME/gdalinstall
    - GDALBUILD=$HOME/gdalbuild
before_install:
  - travis_wait 30 ./misc/install_gdal.sh
  - export PATH=$GDALINST/gdal-2.2.3/bin:$PATH
  - export LD_LIBRARY_PATH=$GDALINST/gdal-2.2.3/lib:$LD_LIBRARY_PATH
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - fluxbox >/dev/null 2>&1 &
install:
  - npm -g install topojson
  - pip install --upgrade "setuptools>=25.1" pip
  - pip install -r requirements/dev.txt
  - python setup.py install
  - python setup.py build_ext --inplace
before_script:
  - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver
script:
  - magrit --help
  - py.test tests/test.py -p no:flaky
  - py.test tests/tests_web.py
addons:
  apt:
    sources:
      - sourceline: 'ppa:deadsnakes/ppa'
      - sourceline: 'deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main'
        key_url: 'https://dl-ssl.google.com/linux/linux_signing_key.pub'
    packages:
      - python3.6
      - libopenblas-base
      - libopenblas-dev
      - gdal-bin
      - libuv1-dev
      - libgdal-dev
      - libproj-dev
      - libspatialindex-dev
      - libfreetype6
      - libfreetype6-dev
      - libv8-3.14-dev
      - libffi-dev
      - redis-server
      - nodejs
      - nodejs-dev
      - node-gyp
      - libxslt1-dev
      - libxml2
      - libxml2-dev
      - libkml-dev
      - google-chrome-stable
      - fluxbox
      - chromium-chromedriver
