aiohttp >= 1.2.0
aiohttp_jinja.2 >= 0.13.0
aiohttp_session >= 0.8.0
aioredis >= 0.2.9
cchardet == 1.1.1
Cython >= 0.24
docopt >= 0.6.2
Fiona >= 1.7
gdal == 2.1.0
geopandas >= 0.2.1
gunicorn >= 19.6.0
hiredis >= 0.2.0
jenkspy >= 0.1.2
Jinja2 == 2.8.1
matplotlib >= 1.5.3
murmurhash3 == 2.3.5
numpy >= 1.11.3
pandas >= 0.19.0
pyproj >= 1.9.5.1
Rtree >= 0.8.3
scipy >= 0.18.0
Shapely >= 1.5.15
ujson >= 1.35
uvloop >= 0.7.2
psutil >= 5.0.0
pyexcel >= 0.3.3
pyexcel-ods >= 0.2.2
pyexcel-ods3 >= 0.2.2
pyexcel-xls >= 0.2.3
pyexcel-xlsx >= 0.2.3
xlrd >= 1.0.0
