body {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    color: black;
    background: #e3e3da;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

select {
    padding: .4em;
    background: #efefef;
    border-radius: 0px;
    border-color: rgb(169,169,169);
    border-width: 1px;
}

/*  Style for sliders */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9px 5px 9px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.4px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.5px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.4px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.5px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.8px;
  box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.8px;
  box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.5px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/*  End of style for sliders */

#header {
    width: 100%;
    height: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color : #000;
    line-height: 30px;
    text-align: left;
    font-family: "Inconsolata", Verdana, Tahoma;
    letter-spacing: 3px;
}

#menu {
    position: absolute;
    padding: 5px 2.5px 5px 2.5px;
    width: 345px;
    font-size: 12px;
}

#map {
    padding: 0px;
    left: 355px;
    margin-top: 5px;
    background-color: white;
    position: relative;
    border: 1px solid lightgrey;
}

.user_panel{
    text-align: left;
    line-height: 14px;
}

h1.menu {
    color:#2e91ce;
    font-size:15px;
}
.icon {
    box-sizing: border-box;
    padding:10px;
    box-sizing: border-box;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
}

.item-menu {
    margin: auto;
    vertical-align:middle;
    float:right;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 6px;
}

h1 {
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 40px;element
    font-weight: bold;
}

h2{
    font-family: 'Enriqueta', arial, serif;
    font-size: 16px;
    color : #2e91ce;
    font-weight: bold;
}

h3{
    font-family: 'Enriqueta', arial, serif;
    font-size: 13px;
    color : #2e91ce;
    font-weight: bold;
}

a.menu {
    line-height:30px;
    color: white;
}

#section1 {
    padding: 0.9em 0.3em 0.8em 0.2em;
    font-size: 12px !important;
}

#section2 {
    padding: 2px 8px;
}

#section2 input[type="text"], #section2 input[type="number"], #section2 input[type="color"] {
    position: absolute;
    right: 20px;
    margin: auto;
    min-width: 40px;
    font-size: 12px;
}

.params_section2.inactive {
  display: none;
}

p.params_section2 {
  margin: 15px 0;
  clear: both;
}

p.params_section2:first-of-type {
  margin-top: 9px;
}

p.params_section2 > span {
  vertical-align: -moz-middle-with-baseline;
}

p.params_section2 > p {
  margin: auto;
}

p.params_section2 > select {
  position: relative;
  float: right;
  margin-bottom: 7.5px;
  min-width: 40px;
  font-size: 12px;
  right: 20px;
  max-width: 300px;
}

#section3 {
  padding: 0.8em 0.5em 0.8em 0.5em;
}

#section4 {
  font-size: 12px;
  padding: 0.8em 1.2em 0.8em 1.2em;
}

ul.config_map_options {
  display: inline-block;
  list-style: outside none none;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
}

.config_map_options li {
  margin: 1px;
  padding: 4px;
}

.list_elem_section4 {
  display: inline-flex;
  margin: 2px;
}

#section5 {
  padding: 0.8em 1.2em 0.8em 1.2em;
}

#section5 input[type="text"], #section5 input[type="number"], #section5 select {
  margin-left: 5px;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background: rgba(227, 227, 218, 0.5);
  font-family: Arimo;
  text-align: center;
  font-size: 20px;
}

.overlay_drop {
  background: black none repeat scroll 0% 0%;
  font-family: Arimo;
  font-size: 20px;
  font-weight: 800;
  height: 98%;
  width: 99%;
  left: 0;
  top: 0;
  opacity: 0.6;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 0;
}

.overlay_drop.inner {
  border: 2px dashed white;
  margin: 10px;
  background: rgba(0, 0, 0, 0.33) none repeat scroll 0% 0%;
  border-radius: 1%;
}

.overlay_drop.inner > p {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 14px;
  width: auto;
  bottom: 0px;
  opacity: 0.85;
  text-align: center;
  color: white;
  padding: 0.5em;
}

/* Styles for button located on the left of the map */
.light-menu {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

p.cont_map_btn {
  margin: auto;
}

.cont_map_btn > button {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  color: #ccc;
  background-color: #555;
  background: -webkit-linear-gradient(#888,#555);
  background: linear-gradient(#888,#555);
  border: 0 none;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 1px 0 0 #666,4px 0 0 #444,5px 0 0 rgba(0,0,0,0.6);
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  width: 30px;
  height: 30px;
}

.cont_map_btn > button:hover {
  color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
}

.cont_map_btn > button.active, .cont_map_btn > button:active
{
  color: #fff;
  text-shadow: 0 -1px 0 #444,0 0 5px #ffd,0 0 8px #fff;
  box-shadow: none;
  -webkit-transform: translateX(5px);
  transform: translateX(2px);
  -webkit-animation: none;
  animation: none;
  background: linear-gradient(#555,#444);
  width: 32px;
  margin: 0;
}
/* End of styles for button located on the left of the map */

/* Styles for elements located in the header */
.header_options_right {
    clear: both;
    float: right;
    display:inline;
    color: #99a8c4;
    font-size:12px;
    margin: auto;
}

.header_options_projection {
    position: absolute;
    left: 350px;
    top: 0px;
    color: #99a8c4;
    margin: auto;
}

a.logo {
    position: absolute;
    left : 0px;
    top : 0px;
    height:30px;
    padding:0px;
    vertical-align:middle;
    font-weight : bold;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-left:5px
}

.const_buttons {
  background: transparent;
  border-color:transparent;
  border-radius: 10%;
  cursor: pointer;
  height: 30px;
  margin-top: 5px;
}

.styled-select {
   background: url(/static/img/arrow_select.png) no-repeat 100% 0;
   height: 29px;
   overflow: hidden;
   background-color: #000;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   margin-top: 3px;
   letter-spacing: 1.5px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 340px;
   color: #fff;
}

#form_projection2 * {
  background-color: black;
}
/* End of styles for elements located in the header */


#trash_button,#zoom_fit_button,.style_button,
.style_target_layer,#legend_button,.active_button,#browse_data_button {
  margin-left: 1.5px;
  float: right;
}

#replace_button {
  float: left;
  margin-left: 1.5px;
  margin-top: 2px;
}

.ico_type {
  margin-top: 2px;
  margin-right: 3px;
  float: left;
}

.popup.active {
  background: rgba(220, 220, 220, 0.94) none repeat scroll 0% 0%;
  border: 3px;
  padding: 20px;
  color: black;
  border-radius: 2%;
  font: 12px "Enriqueta", arial, sans-serif;
}

#info_features {
    position: absolute;
    cursor: default;
    right: 34px;
    top: 45px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #999;
    font: 14px 'Source Sans Pro', Helvetica, sans-serif;
    padding-right:20px;
    padding-left:20px;
    color:black;
}

#sortable {
    list-style-type:none;
    margin:auto;
    padding:0;
    width:100%;
    border-radius:10%
}

#sortable li {
    margin: 5px 0 5px 0;
    padding: 5px;
    font-size: 10.5px;
    line-height: 1.75em;
    font-weight: bold;
    background: #ffffff;
    border-radius: 4%;
    border: unset;
    color: black;
    cursor: pointer;
    overflow-y: auto;
}

#sortable li.sortable_target {
  background: #fff8ac;
}

#sortable li.sortable_target:hover {
  background: #f3ec9e;
}

#sortable li:hover{
    background: #e8e8e8;
}

#table_intro{
    margin: 0 !important;
    text-align: center;
}

.dataTable-sorter::before, .dataTable-sorter::after {
    position: unset !important;
}

.button_sys_run {
    border-color: transparent;
    color: transparent;
    background-color: transparent;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zoom_rect{
    fill: transparent;
    stroke: black;
    stroke-width: 0.7px;
}

.button_disc {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
}
.button_disc:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.button_disc:disabled {
    color: #DDDFE4;
}

.button_disc.active {
    box-shadow: inset 0 0 6px #000;
}

.button_st3 {
	-moz-box-shadow: 0px 1px 0px 0px #91b8b3;
	-webkit-box-shadow: 0px 1px 0px 0px #91b8b3;
	box-shadow: 0px 1px 0px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:3px 16px;
	text-decoration:none;
	margin: 0px 1px 0px 1px
}
.button_st3:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

.button_st3:disabled {
    border: 1px solid #DDDFE4;
    background: none;
    background-color: #DDDFE4;
    color: #fff;
    box-shadow: none;
}

.button_st4 {
    background:linear-gradient(to bottom, #3071a9 5%, #002e56 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3071a9), color-stop(1, #002e56));
    background:-moz-linear-gradient(top, #3071a9 5%, #002e56 100%);
    background:-webkit-linear-gradient(top, #3071a9 5%, #002e56 100%);
    background:-o-linear-gradient(top, #3071a9 5%, #002e56 100%);
    background:-ms-linear-gradient(top, #3071a9 5%, #002e56 100%);
    background-color:#1d5966;
    border-radius: 6px;
    border: 1px solid #1d5966;
    display: inline-block;
    cursor: pointer;
    color: #FFF !important;
    padding: 4px 9px;
    text-decoration: none;
}

.button_st4:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
    border: 1px solid #dfdfdf;
}

.without_spinner {
    -moz-appearance: textfield;
    text-align: right;
    border: none;
    border-bottom-style: dashed;
    border-bottom-width: 0.5px;
}

.without_spinner::-webkit-inner-spin-button,
.without_spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

.mini_button_ok {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4bc238;
  padding: 3px 10px 3px 10px;
  margin: 5px;
  text-decoration: none;
  display:inline-block;
}

.mini_button_ok:hover {
  background: #3dbf26;
  background-image: -webkit-linear-gradient(top, #3dbf26, #519e41);
  background-image: -moz-linear-gradient(top, #3dbf26, #519e41);
  background-image: -ms-linear-gradient(top, #3dbf26, #519e41);
  background-image: -o-linear-gradient(top, #3dbf26, #519e41);
  background-image: linear-gradient(to bottom, #3dbf26, #519e41);
  text-decoration: none;
}

.mini_button_none {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ed2828;
  padding: 3px 10px 3px 10px;
  margin: 5px;
  text-decoration: none;
  display:inline-block;
}

.mini_button_none:hover {
  background: #eb7373;
  background-image: -webkit-linear-gradient(top, #eb7373, #ad0707);
  background-image: -moz-linear-gradient(top, #eb7373, #ad0707);
  background-image: -ms-linear-gradient(top, #eb7373, #ad0707);
  background-image: -o-linear-gradient(top, #eb7373, #ad0707);
  background-image: linear-gradient(to bottom, #eb7373, #ad0707);
  text-decoration: none;
}

.mini_button_none_orange {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ed8228;
  padding: 3px 10px 3px 10px;
  margin: 5px;
  text-decoration: none;
  display:inline-block;
}

.mini_button_none_orange:hover {
  background: #eb7373;
  background-image: -webkit-linear-gradient(top, #eca366, #e76e09);
  background-image: -moz-linear-gradient(top, #eca366, #e76e09);
  background-image: -ms-linear-gradient(top, #eca366, #e76e09);
  background-image: -o-linear-gradient(top, #eca366, #e76e09);
  background-image: linear-gradient(to bottom, #eca366, #e76e09);
  text-decoration: none;
}

button.accordion, button.accordion_disc, button.accordion_proj  {
    background-color: #595959;
    color: #fff;
    cursor: pointer;
    padding: 4px 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    transition: 0.4s;
    font-family: Baloo Bhaina;
    margin: 1px;
}

button.accordion:after, button.accordion_disc:after, button.accordion_projc:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after, button.accordion_disc.active:after, button.accordion_proj.active:after {
    content: "\2796";
}

#map_center_menu_ico:after {
    content: '\02795';
    font-size: 14px;
    color: #777;
    margin-left: 4px;
}

li.to_hide {
    padding: 4px;
    margin-left: 8px;
}

#map_center_menu_ico.active:after {
    content: "\2796";
}

div.panel {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    color: #222222;
    background: #ffffff;
    overflow: hidden;
    visibility: hidden;
    width: 335px;
    max-height: 0;
    //opacity: 0;
    border: 1px solid #aaaaaa;
    border-top-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all 400ms ease-in-out;
    transform: scaleY(0);
}

div.panel.show {
    //opacity: 1;
    max-height: 775px;
    width: 335px;
    margin: auto;
    margin-bottom: 5px;
    overflow: auto;
    visibility: visible;
    transform: scaleY(1);
}

.twbs .panel {
    border: 1px solid #aaaaaa;
    border-top-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.twbs h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 4px;
}

.twbs .modal {
    position: absolute;
    overflow: visible;
}

.twbs .modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: bold;
    font-size: 1.3em;
    padding: 4px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 90%;
}

.twbs .modal-dialog {
    font-family: arimo,Arial,sans-serif;
    font-size: 11px;
}

.twbs .modal-body > p > span {
    display: inline-block;
}

.twbs .modal-body > p > input {
    display: inline-block;
    margin: 0px 0px 0px 15px;
}

.twbs .modal-footer {
    padding: 6px;
}

.twbs .modal-header {
    padding: 8px;
    background-color: #595959;
    color: white;
}

.twbs #xclose {
    padding: 1px 2px;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 2px;
}

.twbs .help-popover {
    max-width: 500px;
    width: 500px;
}

.twbs .modal-body > p {
  margin: 11px 0 !important;
  clear: both;
}

.twbs .modal-body > p.inp_bottom {
  margin: 11px 0px 35px 0px !important;
}

.fitContent {
  width: intrinsic !important;
  width: -moz-max-content !important;
  width: -webkit-max-content !important;
}

th {
    border: 1px solid #d3d3d3;
    text-align: center !important;
    font-size: 12px;
}

tr:nth-child(even) {background: #DBDADA}
tr:nth-child(odd) {background: ##EFECEC;}

.m_elem_right {
    position: absolute;
    right: 20px;
    width: 60px;
    margin-left: 15px;
    font-size: 12px;
}

select.m_elem_right {
  width: auto !important;
}

#export_filename.m_elem_right {
  width: auto !important;
}

p.line_elem {
  display: inline-table;
  width: 100%;
}

p.line_elem2 {
  display: inline-table;
  width: 100%;
  margin: 5px 0 10px;
}

p.line_elem2 > input[type=range] {
  margin: 2px;
}


.styleBox > p > input {
  float: right;
}

.three_dots {
  background: url(/static/img/3_dots_ico.png) no-repeat;
  height: 20px;
  float: left;
  width: 10px;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells :hover circle {
  fill: red;
}

img.layout_ft_ico {
  width: 27px;
  height: auto;
  margin: 2px;
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transform: scale(0.9);
  -webkit-transition: all .2s;
}

img.layout_ft_ico:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1);
}

.swal2_blue {
    background-color: rgb(48, 133, 214);
    border-left-color: rgb(48, 133, 214);
    border-right-color: rgb(48, 133, 214);
}

.swal2_custom {
    overflow-wrap: break-word;
}

.swal2_large {
    min-width: 380px;
    min-height: 310px;
}

/*#txtwzr_table > tbody > tr > td, #txtwzr_table > thead > tr > th {
    border-top: 1px solid #999;
    padding: 8px;
    vertical-align: top;
}*/

#box_projection > p {
    clear: both;
    padding: 8px;
    font-size: 13px;
}

.ctrl_pt {
    fill: red;
    cursor: grab;
    cursor: -webkit-grab;
}

.ctrl_pt:active {
    fill: red;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.alertify-notifier .ajs-message.ajs-warning {
    background: rgb(228, 144, 83) !important;
}

.alertify-notifier .ajs-message {
    font: 13px Roboto !important;
    padding: 12px !important;
}

.alertify-notifier .ajs-message.ajs-warning {
    background: rgb(228, 144, 83) !important;
}

.alertify-notifier .ajs-message {
    font: 13px Roboto !important;
    padding: 12px !important;
}

/*#_m_free_draw_layer > path {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
}*/

.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 20px;
	overflow: hidden;
}

.switch-title {
  text-align: left;
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
  margin: 2px;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*
.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
*/

.custom_tooltip {
  position: absolute;
  background: #595959;
  border-radius:4px;
  padding: 6px 12px;
  font-family: arial;
  font-size: 12px;
  text-shadow: 0px 1px 1px #000;
  color: #ffc64a;
  z-index: 1001;
  overflow-wrap: break-word;
}

.tippy-popper {
  font-family: Verdana,Arial,sans-serif;
  font-size: 11px;
}

/*
Spinner adapted from https://github.com/tobiasahlin/SpinKit
Copyright (c) 2015 Tobias Ahlin (license MIT)
*/
.spinner {
  margin: 30px auto;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #005327;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.opts_lgd_layout {
  margin: 2px;
  cursor: pointer;
}

.opts_lgd_layout.selected:before {
  content: "\2713 ";
  font-weight: 800;
  font-size: 1.75em;
}

p.breaks_vals > input[type="number"] {
  width: 70px !important;
  margin: 1px !important;
  height: 1em !important;
}

p.breaks_vals > input[type="number"].size_class {
  width: 60px !important;
}

/* Styles for modal box allowing to choose the type of each field */
#fields_select {
  display: grid;
}

#fields_select > li {
  background: transparent;
  /* background: aliceblue; */
  padding: 5px;
  line-height: 2em;
}

#fields_select > li:nth-child(odd) {
  background: lightgray;
}

#fields_select > li:first-child {
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
}

#fields_select > li:last-child {
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
}
/* End of styles for modal box allowing to choose the type of each field */

/* Style for left menu section 1 */
img#remove_target, img#downgrade_target, img#table_layer_s1, img#remove_dataset, img#table_dataset_s1 {
  margin: 10px 5px 0 0;
  float: right;
  opacity: 1;
}

img#remove_target, img#remove_dataset {
  opacity: 0.5;
}

img#remove_target:hover, img#remove_dataset:hover {
  opacity: 1;
}

#join_button {
    border-color: transparent;
    background-color: transparent;
}
/* End of style for left menu section 1 */
