#discretization_panel, #histo_options {
    width: 22%;
    float: left;
    margin-top: 20px;
}

#ref_histo_box {
    float: right;
    margin-top: 20px;
    font-size: 11px;
}

label_it_inline {
    font-size: 10px;
    display: inline;
}

#svg_discretization .y_axis, #svg_discretization .x_axis {
    stroke-width: 0.2;
}
