#textEditZone > .intLink { cursor: pointer; }
#textEditZone > img.intLink { border: 0; }
#textEditZone > .toolBar select { font-size:10px; }

#textEditZone > .toolBar > input[type="color"] {
  height: 20px;
  width: 60px;
  border: 0;
}
#textBox {
  width: 480px;
  height: 200px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
  background: white;
}
#textBox #sourceText {
  padding: 0;
  margin: 0;
  min-width: 250px;
  min-height: 100px;
}
#editMode label { cursor: pointer; }
