body {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    font-family:"palatino linotype", palatino, serif;
    color: black;
    background: #e3e3da;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

/*  Style for sliders */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9px 5px 9px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.4px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.5px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.4px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.5px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.8px;
  box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.8px;
  box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0.5px solid #000000;
  height: 18px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/*  End of style for sliders */

#header {
    width: 100%;
    height: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color : #000;
    line-height: 30px;
    text-align: left;
    font-family: "Inconsolata", Verdana, Tahoma;
    letter-spacing: 3px;
}

#page {
    width: 100%;
    height : auto;
    float: left;
    text-align:center;
}

#menu {
    position: absolute;
    padding: 5px 2.5px 5px 2.5px;
    width: 345px;
    font-size: 11px;
}

#map {
    padding: 0px;
    left: 355px;
    margin-top: 5px;
    background-color: white;
    position: relative;
    border: 1px solid lightgrey;
}

.user_panel{
    text-align: left;
    line-height: 14px;
}

h1.menu {
    color:#2e91ce;
    font-size:15px;
}

a.logo {
    position: absolute;
    left : 0px;
    top : 0px;
    height:30px;
    padding:0px;
    vertical-align:middle;
    font-weight : bold;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-left:5px
}

.icon {
    box-sizing: border-box;
    padding:10px;
    box-sizing: border-box;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
}

#footer {
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    margin: 10px;
    font-size: 11px;
    font-weight: bold;
    color : #96a0a8;
    margin: 0;
}

.item-menu {
    margin: auto;
    vertical-align:middle;
    float:right;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 6px;
}

h1 {
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 40px;element
    font-weight: bold;
}

h2{
    font-family: 'Enriqueta', arial, serif;
    font-size: 16px;
    color : #2e91ce;
    font-weight: bold;
}

h3{
    font-family: 'Enriqueta', arial, serif;
    font-size: 13px;
    color : #2e91ce;
    font-weight: bold;
}


a.menu {
    line-height:30px;
    color: white;
}

#section1 {
    padding: 0.9em 0.8em 0.8em 0.8em;
}

#section2 {
    padding: 2px 8px;
}

#section2 input[type="text"], #section2 input[type="number"],
#section2 input[type="color"], #section2 select {
    position: absolute;
    right: 20px;
    margin: auto;
    min-width: 40px;
    font-size: 11.5px;
}

.form-rendering {
    //clear: both;
    position: relative;
    padding: 0px 2px 10px;
}

.params_section2.inactive {
  display: none;
}

p.params_section2 {
  margin: 15px 0;
}

p.params_section2 > span {
  vertical-align: -moz-middle-with-baseline;
}

#section3 {
    padding: 0.8em 0.5em 0.8em 0.5em;
}

#section4 {
    font-size: 11.5px;
    padding: 0.8em 1.2em 0.8em 1.2em;
}

.list_elem_section4 {
    display: inline-flex;
    margin: 2px;
}

#section5 {
    padding: 0.8em 1.2em 0.8em 1.2em;
}

#section5 input[type="text"], #section5 input[type="number"], #section5 select {
    margin-left: 5px;
}

#overlay, .overlay_drop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    //background: rgba(0, 0, 0, 0.33);
    background: rgba(197, 69, 168, 0.47);
    font-family: Dosis;
    font-size: 20px;
}

.zoom_button,.info_button,.hand_button,.brush_zoom_button {
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    border-radius: 10%;
    border: solid 0px;
}

.const_buttons {
    border-radius: 10%;
    height: 30px;
    border-color:transparent;
}

#trash_button,#zoom_fit_button,.style_button,
.style_target_layer,#legend_button,.active_button, #browse_data_button {
    margin-left: 1.5px;
    float: right;
}

.ico_type {
    margin-top: 2px;
    margin-right: 3px;
    float: left;
}

.popup.active {
    background: rgba(220, 220, 220, 0.94) none repeat scroll 0% 0%;
    border: 3px;
    padding: 20px;
    color: black;
    border-radius: 2%;
    font: 12px "Enriqueta", arial, sans-serif;
}

.header_options_right {
    clear: both;
    float: right;
    display:inline;
    color: #99a8c4;
    font-size:12px;
    margin: auto;
}

.header_options_projection {
    position: absolute;
    left: 350px;
    top: 0px;
    color: #99a8c4;
    margin: auto;
}

#info_features {
    position: absolute;
    cursor: default;
    right: 34px;
    top: 45px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #999;
    font: 14px 'Source Sans Pro', Helvetica, sans-serif;
    padding-right:20px;
    padding-left:20px;
    color:black;
}

#sortable {
    list-style-type:none;
    margin:auto;
    padding:0;
    width:100%;
    border-radius:10%
}

#sortable li {
    margin: 5px 0 5px 0;
    padding: 5px;
    font-size: 10.5px;
    line-height: 1.75em;
    font-weight: bold;
    background: #ffffff;
    border-radius: 4%;
    border: unset;
    color: black;
    cursor: pointer;
    overflow-y: auto;
}

#sortable li:hover{
    background: #e8e8e8;
}

#table_intro{
    margin: auto;
    text-align: center;
}

.dataTable-sorter::before, .dataTable-sorter::after {
    position: unset !important;
}

#join_button {
    border-color: transparent;
    background-color: transparent;
}

.button_sys_run {
    border-color: transparent;
    color: transparent;
    background-color: transparent;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zoom_rect{
    fill: transparent;
    stroke: black;
    stroke-width: 0.7px;
}

.button_disc {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
}
.button_disc:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.button_disc:disabled {
    color: #DDDFE4;
}

.button_disc.active {
    box-shadow: inset 0 0 6px #000;
}

.button_st3 {
	-moz-box-shadow: 0px 1px 0px 0px #91b8b3;
	-webkit-box-shadow: 0px 1px 0px 0px #91b8b3;
	box-shadow: 0px 1px 0px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:3px 16px;
	text-decoration:none;
	margin: 0px 1px 0px 1px
}
.button_st3:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

.button_st3:disabled {
    border: 1px solid #DDDFE4;
    background: none;
    background-color: #DDDFE4;
    color: #fff;
    box-shadow: none;
}

.button_st4 {
    background:linear-gradient(to bottom, #3071a9 5%, #002e56 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3071a9), color-stop(1, #002e56));
    background:-moz-linear-gradient(top, #3071a9 5%, #002e56 100%);
    background:-webkit-linear-gradient(top, #3071a9 5%, #002e56 100%);
    background:-o-linear-gradient(top, #3071a9 5%, #002e56 100%);
    background:-ms-linear-gradient(top, #3071a9 5%, #002e56 100%);
    background-color:#1d5966;
    border-radius: 6px;
    border: 1px solid #1d5966;
    display: inline-block;
    cursor: pointer;
    color: #FFF !important;
    padding: 4px 9px;
    text-decoration: none;
}

.button_st4:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
    border: 1px solid #dfdfdf;
}

.without_spinner {
    -moz-appearance: textfield;
    text-align: right;
    border: none;
    border-bottom-style: dashed;
    border-bottom-width: 0.5px;
}

.without_spinner::-webkit-inner-spin-button,
.without_spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

/* For the loading animation : */
.load-wrapp {
    float: left;
    width: 100px;
    height: 60px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load-1 .line:nth-last-child(1) {animation: loadingA 1.5s 1s infinite;}
.load-1 .line:nth-last-child(2) {animation: loadingA 1.5s .5s infinite;}
.load-1 .line:nth-last-child(3) {animation: loadingA 1.5s 0s infinite;}

@keyframes loadingA {
    0 {height: 15px;}
    50% {height: 35px;}
    100% {height: 15px;}
}

.mini_button_ok {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4bc238;
  padding: 3px 10px 3px 10px;
  margin: 5px;
  text-decoration: none;
  display:inline-block;
}

.mini_button_ok:hover {
  background: #3dbf26;
  background-image: -webkit-linear-gradient(top, #3dbf26, #519e41);
  background-image: -moz-linear-gradient(top, #3dbf26, #519e41);
  background-image: -ms-linear-gradient(top, #3dbf26, #519e41);
  background-image: -o-linear-gradient(top, #3dbf26, #519e41);
  background-image: linear-gradient(to bottom, #3dbf26, #519e41);
  text-decoration: none;
}

.mini_button_none {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ed2828;
  padding: 3px 10px 3px 10px;
  margin: 5px;
  text-decoration: none;
  display:inline-block;
}

.mini_button_none:hover {
  background: #eb7373;
  background-image: -webkit-linear-gradient(top, #eb7373, #ad0707);
  background-image: -moz-linear-gradient(top, #eb7373, #ad0707);
  background-image: -ms-linear-gradient(top, #eb7373, #ad0707);
  background-image: -o-linear-gradient(top, #eb7373, #ad0707);
  background-image: linear-gradient(to bottom, #eb7373, #ad0707);
  text-decoration: none;
}

button.accordion, button.accordion_disc {
    background-color: #595959;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    transition: 0.4s;
    font-family: Baloo Bhaina;
    margin: 1px;
}

button.accordion:after, button.accordion_disc:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after, button.accordion_disc.active:after {
    content: "\2796";
}

#map_center_menu_ico:after {
    content: '\02795';
    font-size: 14px;
    color: #777;
    margin-left: 4px;
}

li.to_hide {
    padding: 4px;
    margin-left: 8px;
}

#map_center_menu_ico.active:after {
    content: "\2796";
}

div.panel {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    color: #222222;
    background: #ffffff;
    overflow: hidden;
    visibility: hidden;
    width: 335px;
    max-height: 0;
    //opacity: 0;
    border: 1px solid #aaaaaa;
    border-top-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all 400ms ease-in-out;
    transform: scaleY(0);
}

div.panel.show {
    //opacity: 1;
    max-height: 775px;
    width: 335px;
    margin: auto;
    margin-bottom: 7px;
    overflow: auto;
    visibility: visible;
    transform: scaleY(1);
}

.twbs .panel {
    border: 1px solid #aaaaaa;
    border-top-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.twbs h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 4px;
}

.twbs .modal {
    position: absolute;
    overflow: visible;
}

.twbs .modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: bold;
    font-size: 1.3em;
    padding: 4px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow-wrap: break-word;
    width: 90%;
}

.twbs .modal-dialog {
    font-family: arimo,Arial,sans-serif;
    font-size: 11px;
}

.twbs .modal-body > p > span {
    display: inline-block;
}

.twbs .modal-body > p > input {
    display: inline-block;
    margin: 0px 0px 0px 15px;
}

.twbs .modal-footer {
    padding: 6px;
}

.twbs .modal-header {
    padding: 8px;
    background-color: #595959;
    color: white;
}

.twbs #xclose {
    padding: 1px 2px;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 2px;
}

.twbs .help-popover {
    max-width: 500px;
    width: 500px;
}

.twbs .modal-body > p {
  margin: 11px 0 !important;
  clear: both;
}

.fitContent {
  width: intrinsic !important;
  width: -moz-max-content !important;
  width: -webkit-max-content !important;
}

th {
    border: 1px solid #d3d3d3;
    text-align: center !important;
    font-size: 12px;
}

tr:nth-child(even) {background: #DBDADA}
tr:nth-child(odd) {background: ##EFECEC;}

.m_elem_right {
    position: absolute;
    right: 20px;
    width: 60px;
    margin-left: 15px;
    font-size: 11.5px;
}

select.m_elem_right {
  width: auto !important;
}

#export_filename.m_elem_right {
  width: auto !important;
}

p.line_elem {
  display: inline-table;
  width: 100%;
}

.styleBox > p > input {
  float: right;
}

.three_dots {
  background: url(/static/img/3_dots_ico.png) no-repeat;
  height: 20px;
  float: left;
  width: 10px;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells :hover circle {
  fill: red;
}

img.layout_ft_ico {
  width: 27px;
  height: auto;
  margin: 2px;
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transform: scale(0.9);
  -webkit-transition: all .2s;
}

img.layout_ft_ico:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1);
}

.swal2_blue {
    background-color: rgb(48, 133, 214);
    border-left-color: rgb(48, 133, 214);
    border-right-color: rgb(48, 133, 214);
}

.swal2_custom {
    overflow-wrap: break-word;
}

.swal2_large {
    min-width: 380px;
    min-height: 310px;
}

#txtwzr_table > tbody > tr > td, #txtwzr_table > thead > tr > th {
    border-top: 1px solid #999;
    padding: 8px;
    vertical-align: top;
}

#box_projection > p {
    clear: both;
    padding: 8px;
    font-size: 13px;
}

.ctrl_pt {
    fill: red;
    cursor: grab;
    cursor: -webkit-grab;
}

.ctrl_pt:active {
    fill: red;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.styled-select {
   background: url(/static/img/arrow_select.png) no-repeat 100% 0;
   height: 29px;
   overflow: hidden;
   background-color: #000;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   margin-top: 3px;
   letter-spacing: 1.5px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 340px;
   color: #fff;
}

#form_projection * {
  background-color: black;
}

input[type="radio"].disc_style {
  position: absolute;
  opacity: 0;
}
label.disc_style {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 28px;
  cursor: pointer;
}
label.disc_style::before {
  content: " ";
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #595959;
  border-radius: 4px;
}
input[type="radio"].disc_style + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="radio"].disc_style:checked + label {
  padding-left: 10px;
  color: #fff;
}
input[type="radio"].disc_style:checked + label::before {
  top: 4px;
  width: 100%;
  height: 85%;
  background: #595959;
}

/* Transition */
label.disc_style,
label.disc_style::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
