body {
    height:100%;
    width:100%;
    background-color: #313131;
    margin:0px;
    padding:0px;
    font-family:"palatino linotype", palatino, serif;
    color: #e5e5e5;
}
    

#header {
    width: 100%;
    height:40px;
    padding:0px;
    box-sizing: border-box;
    float: left;
    background-color : black; 
    border-bottom: 1px outset white;
    font-size: 250%;
}
    
#menu {
    padding:10px;
    box-sizing: border-box;
    width: 20%;
    float: left;
    height : calc(100% - 40px);
    background-color : #5d5d5d; 
    border-right: 1px outset white;
}

#map {
    width: 60%;
    box-sizing: border-box;
    height : calc(100% - 40px);
    float: left;
    background-color : #313131; 
    padding:10px;
    box-sizing: border-box;    

}
#legend {
    width: 20%;
    height : calc(100% - 40px);
    float: left;
    background-color : #313131; 
    padding:10px;
    box-sizing: border-box;
} 
