body {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    font-family:"palatino linotype", palatino, serif;
    color: #e5e5e5;
}

#header {
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    box-sizing: border-box;
    background-color : #2e91ce;
    line-height: 40px;
    text-align: left;	
    font-family: Verdana, Tahoma;
}

#page {
    width: 100%;
    height : calc(100% - 30px); 	
    float: left;
    padding:10px;
    /*box-sizing: border-box; */ 
    text-align:center;
}

#menu {
    position: absolute;
    padding: 0px;
    width: 350px;
    background-color: #f5f5f5;
    font-family:Georgia,sans-serif;
    color:#41403f;
    font-size: 12px;
}

#map {
    padding: 0px;
    //margin: auto;
    left: 400px;
    margin-top:50px;
    background-color: white;
    position: relative;
    border-style: solid; 
}
#move {
    padding: 20px;
    position: absolute;
    height : calc(100% - 30px);
    left: 20%;
    width: 1%;
    background-color: #e7e7e6;
    cursor: move;
}

.user_panel{
    text-align: left;
    line-height: 16px;
}

h1.menu {
	color:#2e91ce;
	font-size:15px;	
}

a.logo {
    position: absolute;
    left : 0px;
    top : 0px;
    height:30px;
    padding:0px;
    vertical-align:middle;
    color : #ffffff;
    line-height:30px;	
    font-weight : bold;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px; 
}

.icon {
    box-sizing: border-box;
    padding:10px;
    box-sizing: border-box;  
    text-align:center;
    vertical-align:middle;
    display:inline-block;
}


.footer {
	font-family: 'Enriqueta', arial, serif;
	line-height: 1.25;
	margin: 10px;
	font-size: 11px;
	font-weight: bold;
	color : #96a0a8;
}

.item-menu {
   	height:30px;
	padding:0px;
	vertical-align:middle;
	float:right;
}

h1 {
	font-family: 'Enriqueta', arial, serif;
	line-height: 1.25;
	margin: 0 0 10px;
	font-size: 40px;
	font-weight: bold;
}

h2{
	font-family: 'Enriqueta', arial, serif;
	font-size: 16px;
	color : #2e91ce;
	font-weight: bold;
}

h3{
	font-family: 'Enriqueta', arial, serif;
	font-size: 13px;
	color : #2e91ce;
	font-weight: bold;
}


a.menu {
    line-height:30px;
    color:white;
}

p.menu {
    color:#62849b;
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: bold;
}
/*
label
{
	color:red;	
	display: block;
	width: 100px;
	float: left;
}
*/
#section1 { 
    height: 245px;
    margin: 2px;
    font-size: 12px;
    color: black
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.33);
}

.zoom_button,.info_button,.hand_button {
    border-radius: 10%;
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: -40px;
}

.const_buttons {
    border-radius: 10%;
    width: 38px;
    height: 38px;
    border-color:transparent;
}

.trash_button,.active_button,.zoom_fit_button,.style_button {
    background: transparent;
    border-color: transparent;
    padding: 0px;
    margin: 0px;
    float: right;

}

.active_button { margin-top : 4px; }

.popup.active {
    background: rgba(220, 220, 220, 0.94) none repeat scroll 0% 0%;
    border: 3px;
    padding: 20px;
    color: black;
    border-radius: 2%;
    font: 12px "Enriqueta", arial, sans-serif;
}

#header a{
    text-decoration:none;
    color: white;
    font: 12px "Enriqueta", arial, sans-serif;
}

#header :hover{
    color: red;
}

.header_options {
    float: right;
    display:inline;
    color:#99a8c4;
    font-size:12px;
    margin: auto;
    margin-right: 10px;
    word-spacing: 10px;
}

#Simplified_land_polygons {
    stroke-width: 0.5px;
    stroke-linecap: round;
}

#Graticule {
    fill:none;
    stroke: #777;
    stroke-width: 1px;
    stroke-opacity: .5;
    stroke-dasharray: 5;
}

#const_options{
    position:absolute;
    right:0px;
    top:40px;
}

#info_features {
    position: absolute;
    right: 0px;
    top: 100px;
    border-radius: 2%;
    background-color: beige;
    font-size:15px;
    font-weight:bold;
    padding-right: 20px;
    padding-left: 20px;
    color:black;
}

.ui-dialog-titlebar {
    padding: .1em .4em;
    background: rgb(153, 168, 196) none repeat scroll 0% 0%;
}

#dialog,.ui-dialog-title,.ui-button-text {
    font-size:0.8em;
}

#sortable li {
    margin: 5px 0 5px 0;
    padding: 5px;
    font-size: 12px;
    line-height: 2em;
    font-weight: bold;
    background: #adadad;
    border-radius: 10%;
    color: white
}

#sortable li.sortable_target {
    margin: 5px 0 5px 0;
    border: 2px solid;
    padding: 5px;
    font-size: 12px;
    line-height: 2em;
    background: #ede425;
    color: black;
    border-radius: 10%;
}

#sortable li.sortable_result {
    margin: 5px 0 5px 0;
    border: 2px solid;
    padding: 5px;
    font-size: 12px;
    line-height: 2em;
    background: #87ff9a;
    color: black;
    border-radius: 10%;
}

.dataTables_wrapper .ui-widget-header{
    width: 82%;
    margin: auto;
    padding: 6px;
}