<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ app_name }}</title>
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style-index.css" rel="stylesheet">
    <script src="static/js/lib/jquery-2.2.1.min.js"></script>
    <script src="static/js/lib/i18next.min.js"></script>
    <script src="static/js/lib/loc-i18next.min.js"></script>
    <script src="static/js/lib/i18nextXHRBackend.min.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
    <script src="static/js/lib/cookies.min.js"></script>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top">


    <nav class="navbar navbar-default navbar-fixed-top" style="padding:0;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#page-top" style="padding-top: 2px;"><img src="static/img/logo_magrit.png" alt="Magrit" width="auto" height="38"></a>
            </div>

            <div class="collapse navbar-collapse">
                <a class="btn btn-default enter_button i18n" style="float:right;background:transparent none repeat scroll 0% 0% border-box;margin-top:7px;font-weight:800;" data-i18n="[html]index.buttons.start_now"></a>
                <div id="btn-group-lang" class="btn-group" style="float:right;margin-top:7px;";>
                    <button id="lang_current" type="button" class="btn btn-default"></button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul style="background: black;" class="dropdown-menu" role="menu">
                        <li><a id="lang1"></a></li>
                        <li><a id="lang2"></a></li>
                        <li><a id="lang3"></a></li>
                    </ul>
                </div>
            <div class="btn-group" style="float:right;margin:15px 15px 0 15px;";>
              <a href="http://riate.cnrs.fr"><img src="static/img/riate_green_grey.png" alt="RIATE logo" style="max-height:18px;"></a>
            </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>
    </nav>

    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
            <h1 id="title_app" style="font-family:Dosis;" class="i18n" data-i18n="index.title"></h1>
            <a class="btn btn-default enter_button i18n" style="background:black;font-weight:800;border-color:none;" data-i18n="[html]index.buttons.start_now"></a>
            <hr class="grad-transp"></hr>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
                    <div class="box1">
                            <div>
                              <img style="margin: 2px 3px;max-height: 22px;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.prop" src="static/img/func_icons2/prop.png" id="button_prop"/>
                              <img style="margin: 2px 3px;max-height: 22px;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.choro" src="static/img/func_icons2/choro.png" id="button_choro"/>
                              <img style="margin: 2px 3px;max-height: 22px;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.proptypo" src="static/img/func_icons2/proptypo.png" id="button_proptypo"/>
                              <img style="margin: 2px 3px;max-height: 22px;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.grid" src="static/img/func_icons2/grid.png" id="button_grid"/>
                              <img style="margin: 2px 3px;max-height: 22px;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.cartogram" src="static/img/func_icons2/cartogram.png" id="button_cartogram"/>
                              <img style="margin: 2px 3px;max-height: 22px;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.smooth" src="static/img/func_icons2/smooth.png" id="button_smooth"/>
                              <img style="margin: 2px 3px;max-height: 22px;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.discont" src="static/img/func_icons2/discont.png" id="button_discont"/>
                              <img style="margin: 2px 3px;max-height: 22px;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.typosymbol" src="static/img/func_icons2/typosymbol.png" id="button_typosymbol"/>
                            </div>
                            <h4 class="i18n" data-i18n="[html]index.bloc.carto_thematic1"></h4>
                            <span class="i18n" data-i18n="[html]index.bloc.carto_thematic2"></span>
                    </div>
                    <div class="box1">
                            <div>
                              <img style="margin: 2px 3px; max-height: 22px;" class="hover_scale" src="static/img/shp.png"/>
                              <img style="margin: 2px 3px; max-height: 22px;" class="hover_scale" src="static/img/geojson.png"/>
                              <img style="margin: 2px 3px; max-height: 22px;" class="hover_scale" src="static/img/kml.png"/>
                              <img style="margin: 2px 3px; max-height: 22px;" class="hover_scale" src="static/img/csv.png"/>
                              <img style="margin: 2px 3px; max-height: 22px;" class="hover_scale" src="static/img/png.png"/>
                              <img style="margin: 2px 3px; max-height: 22px;" class="hover_scale" src="static/img/svg.png"/>
                            </div>
                            <h4 class="i18n" data-i18n="[html]index.bloc.interop1"></h4>
                            <span class="i18n" data-i18n="[html]index.bloc.interop2"></span>
                    </div>
                    <div class="box1">
                            <div style="margin: 2px 0 2px 0;">
                                <span><img id="btn_arrow" src="static/img/layout_icons/arrow-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.arrow" title="Flèche" style="margin: 1px 2px; width: 17px; height: auto;"></span>
                                <span><img id="btn_text_annot" src="static/img/layout_icons/text-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.text_annot" title="Annotation de texte" style="margin: 1px 2px; width: 17px; height: auto;"></span>
                                <span><img id="btn_symbol" src="static/img/layout_icons/symbols-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.symbol" title="Insertion d'un symbole" style="margin: 1px 2px; width: 17px; height: auto;"></span>
                                <span><img id="btn_rectangle" src="static/img/layout_icons/rect-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.rectangle" title="Rectangle" style="margin: 1px 2px; width: 17px; height: auto;"></span>
                                <span><img id="btn_ellipse" src="static/img/layout_icons/ellipse-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.ellipse" title="Ellipse" style="margin: 1px 2px; width: 17px; height: auto;"></span>
                                <span><img id="btn_graticule" src="static/img/layout_icons/graticule-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.graticule" title="Graticule" style="margin: 1px 2px; width: 17px; height: auto;"></span>
                                <span><img id="btn_scale" src="static/img/layout_icons/scale.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.scale" title="Échelle" style="margin: 1px 2px; width: 17px; height: auto;"></span>
                                <span><img id="btn_north" src="static/img/layout_icons/north-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.north_arrow" title="Flèche nord" style="margin: 1px 2px; width: 17px; height: auto;"></span>
                                <span><img id="btn_sphere" src="static/img/layout_icons/sphere-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.sphere" title="Fond de l'emprise du globe" style="margin: 1px 2px; width: 17px; height: auto;"></span>
                            </div>
                            <h4 class="i18n" data-i18n="[html]index.bloc.customizable1"></h4>
                            <span class="i18n" data-i18n="[html]index.bloc.customizable2"></span>
                    </div>
                <hr class="grad-transp hidden-lg"></hr>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
                    <div class="box1">
                        <img src="static/img/opensource_initiative.png" class="hover_scale" style="max-height:22px;" alt="OpenSource Initiative">
                        <h4 class="i18n" data-i18n="[html]index.bloc.box1_title"></h4>
                        <p class="i18n" data-i18n="[html]index.bloc.box1_text"></p>
                    </div>

                    <div class="box1">
                        <img src="static/img/Octicons-mark-github.svg" class="hover_scale" style="max-height:22px;">
                        <h4 class="i18n" data-i18n="[html]index.bloc.box2_title"></h4>
                        <p class="i18n" data-i18n="[html]index.bloc.box2_text"></p>
                    </div>

                    <div class="box1">
                        <img src="static/img/i18next_logo.png" style="max-height:22px;" class="hover_scale" alt="Traductible content">
                        <h4 class="i18n" data-i18n="[html]index.bloc.box3_title"></h4>
                        <p class="i18n" data-i18n="[html]index.bloc.box3_text"></p>
                    </div>
                <hr class="grad-transp hidden-lg hidden-md"></hr>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
                  <div class="box1">
                          <img style="max-height:22px;" class="hover_scale" src="static/img/Documents_icon_-_noun_project_5020.svg"/>
                          <h4 class="i18n" data-i18n="[html]index.bloc.user_manual1"></h4>
                          <span class="i18n" data-i18n="[html]index.bloc.user_manual2"></span>
                  </div>
                  <div class="box1">
                      <img src="static/img/Schlaegel_und_Eisen_nach_DIN_21800.svg" style="max-height:22px;" class="hover_scale" alt="Fork me on github">
                      <h4 class="i18n" data-i18n="[html]index.bloc.box4_title"></h4>
                      <span class="i18n" data-i18n="[html]index.bloc.box4_text"></span>
                  </div>

                  <div class="box1">
                          <img style="max-height:22px;" class="hover_scale" src="static/img/hypotheses_rouge2.png"/>
                          <h4 class="i18n" data-i18n="[html]index.bloc.hypotheses1"></h4>
                          <span class="i18n" data-i18n="[html]index.bloc.hypotheses2"></span>
                  </div>
                  <div class="box1">
                          <div>
                            <img style="margin: 5px 6px;" class="hover_scale" src="static/img/riate_blue_red.png"/><img style="margin: 5px 6px;max-height:22px;" class="hover_scale" src="static/img/bandologo.png"/>
                          </div>
                          <!-- <h4 class="i18n" data-i18n="[html]index.bloc2.realized_by1"></h4> -->
                          <span class="i18n" data-i18n="[html]index.bloc.realized_by2"></span>
                  </div>

                </div>
                <div class="box-wrap clearfix"></div>
            </div>
        </div>
    </section>

    <footer id="footer" class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 hidden-sm hidden-xs" style="padding: 0;">
                  <span>
                      <a class="pop">
                      <img class="grey_img" data-toggle="popover" data-placement="auto" title="Choropleth map" src="static/img/gallery/choropleth_map.png" alt="Choropleth map" style="max-height:65px;cursor:pointer;">
                      </a>
                  </span>
                  <span>
                      <a class="pop">
                      <img class="grey_img" data-toggle="popover" data-placement="auto" title="Discontinuity map" src="static/img/gallery/discont.png" alt="Discontinuity map" style="max-height:65px;cursor:pointer;">
                      </a>
                  </span>
                  <span>
                      <a class="pop">
                      <img class="grey_img" data-toggle="popover" data-placement="auto" title="Proportional symbols and categorical map" src="static/img/gallery/brazil.png" alt="Proportional symbols and categorical map" style="max-height:65px;cursor:pointer;">
                      </a>
                  </span>
                  </div>
                  <div class="col-lg-3 col-md-4 hidden-sm hidden-xs" style="padding: 0;">
                  <span>
                      <a class="pop">
                      <img class="grey_img" data-toggle="popover" data-placement="auto" title="Density map" src="static/img/gallery/gridded.png" alt="Density map" style="max-height:65px;cursor:pointer;">
                      </a>
                  </span>
                  <span>
                      <a class="pop">
                      <img class="grey_img" data-toggle="popover" data-placement="auto" title="Stock and ratios map" src="static/img/gallery/worldpop.png" alt="Stock and ratios map" style="max-height:65px;cursor:pointer;">
                      </a>
                  </span>
                  <span>
                      <a class="pop">
                      <img class="grey_img" data-toggle="popover" data-placement="auto" title="Flows/links map" src="static/img/gallery/flows.png" alt="Flows/links map" style="max-height:65px;cursor:pointer;">
                      </a>
                  </span>
                </div>
                <div class="col-lg-3 hidden-md hidden-sm hidden-xs" style="padding: 0;">
                  <span>
                      <a class="pop">
                      <img class="grey_img" data-toggle="popover" data-placement="auto" title="USA population density" src="static/img/gallery/usadenspop.png" alt="USA population density" style="max-height:65px;cursor:pointer;">
                      </a>
                  </span>
                  <span>
                      <a class="pop">
                      <img class="grey_img" data-toggle="popover" data-placement="auto" title="Smoothed map" src="static/img/gallery/smoothed2.png" alt="Smoothed map" style="max-height:65px;cursor:pointer;">
                      </a>
                  </span>
                  <span>
                      <a class="pop">
                      <img class="grey_img" data-toggle="popover" data-placement="auto" title="Dougenik cartogram" src="static/img/gallery/dougenik.png" alt="Dougenik cartogram" style="max-height:65px;cursor:pointer;">
                      </a>
                  </span>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                    <p class="i18n" data-i18n="[html]index.bloc.browser"></p>
                    <p class="i18n" data-i18n="[html]index.footer.gallery_link"></p>
                </div>
            </div>
        </div>
    </footer>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>
<div style="box-shadow:0em 0em 1em black;position:fixed;left:50%;transform:translateX(-50%);font-size:14px;width:auto;bottom:0px;opacity:0.85;text-align:center;background-color:black;color:white;padding:0.5em;z-index:9999;" id="cookieLaw">
    <span class="i18n" data-i18n="index.cookie_div.message"></span><br>
    <span id="understood_cookie" class="i18n" style="line-height: 1.7em; cursor:pointer;border-radius: 0.4em;background-color:#4BA5FC;color:white;margin-left:1em;margin-right:1em;padding:0.2em;padding-left:1em;padding-right:1em;" data-i18n="index.cookie_div.accept">I understand</span>
    <a style="color:#4BA5FC" href="/docs/privacy.html" class="i18n" data-i18n="index.cookie_div.more_info"></a>
</div>
{% raw %}
<script>
//jQuery for initialising tooltips
$('[data-toggle="popover"]').popover({
  trigger: 'hover'
});

//jQuery for image preview
$(function(){
  $(".pop").on("click", function(){
    $(".imagepreview").attr("src", $(this).find("img").attr("src"));
    $("#imagemodal").modal("show");
  });
});

//Handle user click on the "language" buttons :
function handle_change_lang(){
  if(this.id == "lang1" && i18next.language == this.innerHTML){
      return;
  }
  var lang = this.innerHTML;
  change_lang(lang);
}

// // Actually change the content of the page :
// function change_lang(new_lang, old_lang){
//     docCookies.setItem("user_lang", new_lang, 31536e3, "/");
//     i18next.changeLanguage(new_lang, () => { localize(".i18n");});
//     document.getElementById("lang_current").innerHTML = new_lang;
//     document.getElementById("lang2").innerHTML = old_lang;
//     document.getElementById("lang1").innerHTML = new_lang;
// }

// Actually change the content of the page :
function change_lang(new_lang){
  docCookies.setItem("user_lang", new_lang, 31536e3, "/");
  i18next.changeLanguage(new_lang, function(){ localize(".i18n");});
  var other_langs = new_lang == "en" ? ["es", "fr"] : new_lang == "fr" ? ["en", "es"] : ["en", "fr"];
  document.getElementById("lang_current").innerHTML = new_lang;
  document.getElementById("lang3").innerHTML = other_langs[0];
  document.getElementById("lang2").innerHTML = other_langs[1];
  document.getElementById("lang1").innerHTML = new_lang;
}


function bind_enter_buttons(){
  var enter = function() {
    if(!docCookies.getItem("cookie_law_validated")){
      docCookies.setItem("cookie_law_validated", "true", 31536e3, "/");
    }
    window.location = window.location + "modules"
  };
  var elems = document.querySelectorAll(".enter_button"), i;
  for (let i=0; i < elems.length; i++) {
    elems[i].onclick = enter;
  }
}


function handle_div_cookie(){
  var cookie_div = document.getElementById("cookieLaw");
  if (docCookies.getItem("cookie_law_validated")) {
    cookie_div.style.display = "none";
  } else {
    cookie_div.querySelector("#understood_cookie").onclick = function() {
      document.getElementById("cookieLaw").remove();
      docCookies.setItem("cookie_law_validated", "true", 31536e3, "/");
    };
  }
}


function prepare_lang_buttons(){
  var current_lang =  i18next.language,
      other_langs = current_lang == "en" ? ["es", "fr"] : current_lang == "fr" ? ["en", "es"] : ["en", "fr"];

  document.getElementById("lang_current").innerHTML = current_lang;
  var button_lang1 = document.getElementById("lang1");
  button_lang1.innerHTML = current_lang;
  button_lang1.onclick = handle_change_lang;
  var button_lang2 = document.getElementById("lang2");
  button_lang2.innerHTML = other_langs[0];
  button_lang2.onclick = handle_change_lang;
  var button_lang3 = document.getElementById("lang3");
  button_lang3.innerHTML = other_langs[1];
  button_lang3.onclick = handle_change_lang;
}

//i18n initialization :
(function(){
  var existing_lang = ["en", "es", "fr"];
  var lang = docCookies.getItem("user_lang") || window.navigator.language.split('-')[0];
  lang = existing_lang.indexOf(lang) > -1 ? lang : 'en';
  docCookies.setItem("user_lang", lang, 31536e3, "/");
  i18next.use(i18nextXHRBackend)
    .init({
        debug: true,
        lng: lang,
        fallbackLng: existing_lang[0],
        backend: {
          loadPath: "static/locales/{{lng}}/translation.json"
        }
  }, function(err, t) {
    if(err)
      throw err;
    else {
      window.localize = locI18next.init(i18next);
      localize(".i18n");
      bind_enter_buttons();
      handle_div_cookie();
      prepare_lang_buttons();
    }
  });
})();

</script>
{% endraw %}
</body>
</html>
