<!DOCTYPE html>
<html lang="en">
  <head>
    <meta  content="text/html" charset="utf-8"  http-equiv="content-type">
    <meta  http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta  name="viewport"  content="width=device-width, initial-scale=1, user-scalable=yes">
    <title> {{ app_name }} </title>
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <link href="static/css/discretization.css" rel="stylesheet" type="text/css">
    <link href="static/css/scoped-bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/style-slider.min.css" rel="stylesheet"  type="text/css">
    <link href="static/css/style-zone-edit-text.css" rel="stylesheet"  type="text/css">
    <link href="static/css/style-fonts.css" rel="stylesheet"  type="text/css">
    <link href="static/css/style.min.css" rel="stylesheet"  type="text/css">
    <link href="static/css/vanilla-dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/context-menu.css" rel="stylesheet" type="text/css">
    <link href="static/css/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <!-- <script  src="static/js/lib/polyfill.min.js"></script> -->
    <script  src="static/js/lib/d3.custom.min.js"></script>
    <script  src="https://d3js.org/d3-voronoi.v1.min.js"></script>
    <script  src="static/js/lib/topojson-client.2.1.0.min.js"></script>
    <script  src="static/js/lib/bootstrap-native-mod.min.js"></script>
    <script  src="static/js/lib/geostats.min.js"></script>
    <script  src="static/js/lib/colorbrewer.v1.min.js"></script>
    <!-- <script  src="/static/js/lib/jschardet.min.js"></script> -->
    <script src="/static/js/lib/cookies.min.js"></script>
    <script  src="static/js/lib/q.min.js"></script>
    <script  src="static/js/lib/i18next.min.js"></script>
    <script  src="static/js/lib/loc-i18next.min.js"></script>
    <script  src="static/js/lib/i18nextXHRBackend.min.js"></script>
    <script  src="static/js/lib/sweetalert2.min.js"></script>
    <script  src="static/js/lib/vanilla-dataTables.min.js"></script>
    <script  src="static/js/lib/Sortable.min.js"></script>
  </head>
  <body>
      <div id="header">
        <p style="display:inline;margin-left:15px;">
        <a href="" style="margin-top: 3px;"><img src="/static/img/logo_magrit.png" alt="Magrit" width="auto" height="26"></a>
        </p>
        <p class="header_options_projection"></p>
        <p class="header_options_right"></p>
      </div>
      <div id="menu"></div>
      <div id="twbs" class="twbs"></div>
  	  <div id="map"></div>
      <noscript>
        <div style="padding: 20px; text-align: center;">
          <span style="color:red">To use Magrit, you need to have JavaScript enabled in your browser.</span>
        </div>
      </noscript>
  	<script  src="/static/js/app.9b4d6ba2bd02.js"></script>
</body>
</html>
