<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Magrit - 404</title>
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style-index.css" rel="stylesheet">
    <script src="static/js/lib/jquery-2.2.1.min.js"></script>
    <script src="static/js/lib/i18next.min.js"></script>
    <script src="static/js/lib/loc-i18next.min.js"></script>
    <script src="static/js/lib/i18nextXHRBackend.min.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
</head>
<style>
@import url(http://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}


</style>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="/" style="padding-top: 2px;"><img src="static/img/logo_magrit.png" alt="Magrit" width="auto" height="38"></a>
          </div>
          <div class="btn-group" style="float:right;margin-top:7px;";>
              <button id="lang_current" type="button" class="btn btn-default" style="color:greenyellow;background:transparent none repeat scroll 0% 0% border-box;"></button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="color:greenyellow;background:transparent none repeat scroll 0% 0% border-box;">
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a id="lang1"></a></li>
                  <li><a id="lang2"></a></li>
                  <li><a id="lang3"></a></li>
              </ul>
          </div>
      <div class="btn-group" style="float:right;margin:10px 15px 0 15px;";>
        <a href="http://riate.cnrs.fr"><img src="static/img/riate_green_grey.png" alt="RIATE logo" style="max-height:18px;"></a>
      </div>
      </div>
  </nav>

  <section id="intro" class="contact-section">
      <div class="container">
          <div class="row">
          <h1 data-i18n="[html]page404.message1" class="i18n" style="font-family:Dosis; text-align: center; margin: 50px 0 40px 0;"></h1>
          <hr class="grad-transp"></hr>
          <div class="col-md-12">
          <p class="col-md-12 i18n" data-i18n="[html]page404.message2" style="padding: 0 12% 0 12%;"></p>
            <div class="content404 text-center">
              <a class="btn btn-default enter_button i18n" data-i18n="[html]page404.back_application"></a>
              <a class="btn btn-default documentation_button i18n" data-i18n="[html]page404.back_documentation"></a>
            </div>
          </div>
          <div class="box-wrap clearfix"></div>
          </div>
      </div>
  </section>

</body>
{% raw %}
<script>
//i18n initialization :
(function(){
    var existing_lang = ["en", "es", "fr"];
    let lang = window.navigator.language.split('-')[0];
    lang = existing_lang.indexOf(lang) > -1 ? lang : 'en';
    i18next.use(i18nextXHRBackend)
      .init({
          debug: true,
          lng: lang,
          fallbackLng: existing_lang[0],
          backend: {
            loadPath: "static/locales/{{lng}}/translation.json"
          }
    }, (err, t) => {
        if(err)
            throw err;
        else {
            window.localize = locI18next.init(i18next);
            localize(".i18n");
            bind_buttons();
            prepare_lang_buttons();
        }
    });
})();

function prepare_lang_buttons(){
    let current_lang =  i18next.language,
        other_langs = current_lang == "en" ? ["es", "fr"] : current_lang == "fr" ? ["en", "es"] : ["en", "fr"];

    document.getElementById("lang_current").innerHTML = current_lang;
    let button_lang1 = document.getElementById("lang1");
    button_lang1.innerHTML = current_lang;
    button_lang1.onclick = handle_change_lang;
    let button_lang2 = document.getElementById("lang2");
    button_lang2.innerHTML = other_langs[0];
    button_lang2.onclick = handle_change_lang;
    let button_lang3 = document.getElementById("lang3");
    button_lang3.innerHTML = other_langs[1];
    button_lang3.onclick = handle_change_lang;
}

function bind_buttons(){
    let elems = document.querySelectorAll(".enter_button");
    for(let i=0; i < elems.length; i++){
        elems[i].onclick = function() { window.location = "/modules" };
    }
    document.querySelector('.documentation_button').onclick = function() { window.location = "docs/" };
}

//Handle user click on the "language" buttons :
function handle_change_lang(){
    if(this.id == "lang1" && i18next.language == this.innerHTML){
        return;
    }
    let lang = this.innerHTML,
        old_lang = document.getElementById("lang_current").innerHTML;
    change_lang(lang, old_lang);
}

// Actually change the content of the page :
function change_lang(new_lang){
    i18next.changeLanguage(new_lang, () => { localize(".i18n");});
    let other_langs = new_lang == "en" ? ["es", "fr"] : new_lang == "fr" ? ["en", "es"] : ["en", "fr"];
    document.getElementById("lang_current").innerHTML = new_lang;
    document.getElementById("lang3").innerHTML = other_langs[0];
    document.getElementById("lang2").innerHTML = other_langs[1];
    document.getElementById("lang1").innerHTML = new_lang;
}


</script>
{% endraw %}
