<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ app_name }} - Put your data on the map !</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style-index.css" rel="stylesheet">
    <script src="/static/js/lib/jquery-2.2.1.min.js"></script>
    <script src="/static/js/lib/i18next.min.js"></script>
    <script src="/static/js/lib/loc-i18next.min.js"></script>
    <script src="/static/js/lib/i18nextXHRBackend.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/jquery.easing.min.js"></script>
    <script src="/static/js/lib/cookies.min.js"></script>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/static/img/magrit.png" alt="Export" width="auto" height="20"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll i18n" href="#overview" data-i18n="[html]index.buttons.overview"></a>
                    </li>
                    <li>
                        <a class="page-scroll i18n" href="#examples" data-i18n="[html]index.buttons.examples"></a>
                    </li>
                    <li>
                        <a class="page-scroll i18n" href="#documentation" data-i18n="[html]index.buttons.doc"></a>
                    </li>
                    <li>
                        <a class="page-scroll i18n" href="#source" data-i18n="[html]index.buttons.dev"></a>
                    </li>
                </ul>
                <a class="btn btn-default enter_button i18n" style="float:right;color:greenyellow;background:transparent none repeat scroll 0% 0% border-box;margin-top:7px;" data-i18n="[html]index.buttons.start_now"></a>
                <div class="btn-group" style="float:right;margin-top:7px;";>
                    <button id="lang_current" type="button" class="btn btn-default" style="color:greenyellow;background:transparent none repeat scroll 0% 0% border-box;"></button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="color:greenyellow;background:transparent none repeat scroll 0% 0% border-box;">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="lang1"></a></li>
                        <li><a id="lang2"></a></li>
                    </ul>
                </div>
            <div class="btn-group" style="float:right;margin:10px 15px 0 15px;";>
              <a href="http://riate.cnrs.fr"><img src="/static/img/riate_green_grey.png" alt="RIATE logo" style="max-height:18px;"></a>
            </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>
    </nav>

    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
            <h1 style="font-family:Dosis;">Magrit - Online mapping application</h1>
            <hr class="grad-transp"></hr>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p style="text-align:left;">
                        <span class="i18n" data-i18n="[html]index.intro_section.arg1"></span><br>
                        <span class="i18n" data-i18n="[html]index.intro_section.arg2"></span><br>
                        <span class="i18n" data-i18n="[html]index.intro_section.arg3"></span><br>
                        <span class="i18n" data-i18n="[html]index.intro_section.arg4"></span><br>
                    </p><br>
                </div>
                <div class="box-wrap clearfix"></div>
                <p style="col-md-12">
                    <a class="btn btn-success enter_button i18n" style="margin: 5px;" data-i18n="[html]index.buttons.enter"></a>
                    <a id="resume_btn" class="btn btn-success i18n" disabled style="margin: 5px;" data-i18n="[html]index.buttons.resume"></a>
                </p>
            </div>
        </div>
        <div class="end_div_divider col-lg-8 img-responsive" style="background-image:url('/static/img/cropped-cropped-slider_AIRE.png');"></div>

    </section>

    <section id="overview" class="overview-section">
        <div class="container">
            <div class="row">
            <h1 style="font-family:Dosis;" class="i18n" data-i18n="[html]index.buttons.overview"></h1>
            <hr class="grad-transp"></hr>
                <div class="col-md-12" style="text-align:center;margin: 20px;">
                        <strong><span class="i18n" data-i18n="[html]index.overview_section.list_func1"></span></strong>
                        <!-- <span class="i18n" data-i18n="[html]index.overview_section.list_func2"></span><br><br> -->
                        <div>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.prop" src="/static/img/func_icons2/prop.png" id="button_prop"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.choro" src="/static/img/func_icons2/choro.png" id="button_choro"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.typo" src="/static/img/func_icons2/typo.png" id="button_typo"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.choroprop" src="/static/img/func_icons2/choroprop.png" id="button_choroprop"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.proptypo" src="/static/img/func_icons2/proptypo.png" id="button_proptypo"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.grid" src="/static/img/func_icons2/grid.png" id="button_grid"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.cartogram" src="/static/img/func_icons2/cartogram.png" id="button_cartogram"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.smooth" src="/static/img/func_icons2/smooth.png" id="button_smooth"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.discont" src="/static/img/func_icons2/discont.png" id="button_discont"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.typosymbol" src="/static/img/func_icons2/typosymbol.png" id="button_typosymbol"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale i18n" data-i18n="[title]app_page.func_description.flow" src="/static/img/func_icons2/flow.png" id="button_flow"/>
                        </div>
                </div>
                <div class="col-md-12" style="text-align:center;margin: 20px;">
                        <strong><span class="i18n" data-i18n="[html]index.overview_section.import1"></span></strong>
                        <div>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale" src="/static/img/shp.png"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale" src="/static/img/geojson.png"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale" src="/static/img/kml.png"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale" src="/static/img/csv.png"/>
                        </div>
                </div>
                <div class="col-md-12" style="text-align:center;margin: 20px;">
                        <strong><span class="i18n" data-i18n="[html]index.overview_section.customize1"></span></strong>
                        <div style="margin: 2px 0 2px 0;">
                            <span><img id="btn_arrow" src="/static/img/layout_icons/arrow-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.arrow" title="Flèche"></span>
                            <span><img id="btn_free_draw" src="/static/img/layout_icons/draw-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.free_draw" title="Dessin libre"></span>
                            <span><img id="btn_ellipse" src="/static/img/layout_icons/ellipse-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.ellipse" title="Ellipse"></span>
                            <span><img id="btn_graticule" src="/static/img/layout_icons/graticule-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.graticule" title="Graticule"></span>
                            <span><img id="btn_north" src="/static/img/layout_icons/north-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.north_arrow" title="Flèche nord"></span>
                            <span><img id="btn_scale" src="/static/img/layout_icons/scale.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.scale" title="Échelle"></span>
                            <span><img id="btn_sphere" src="/static/img/layout_icons/sphere-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.sphere" title="Fond de l'emprise du globe"></span>
                            <span><img id="btn_symbol" src="/static/img/layout_icons/symbols-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.symbol" title="Insertion d'un symbole"></span>
                            <span><img id="btn_text_annot" src="/static/img/layout_icons/text-01.png" class="hover_scale i18n" data-i18n="[title]app_page.layout_features_box.text_annot" title="Annotation de texte"></span>
                        </div>
                        <!-- <span class="i18n" data-i18n="[html]index.overview_section.customize2"></span> -->
                </div>
                <div class="col-md-12" style="text-align:center;margin: 20px;">
                        <strong><span class="i18n" data-i18n="[html]index.overview_section.export1"></span></strong>
                        <div>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale" src="/static/img/png.png"/>
                          <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale" src="/static/img/svg.png"/>
                        </div>
                </div>
                <div class="col-md-12" style="text-align:center;margin: 20px;">
                        <strong><span class="i18n" data-i18n="[html]index.overview_section.projection1"></span></strong>
                        <div>
                          <img style="margin: 5px 6px; width: 76px; height: 100%;" class="hover_scale" src="/static/img/gallery/proj_boggs2.png"/>
                          <img style="margin: 5px 6px; width: 76px; height: 100%;" class="hover_scale" src="/static/img/gallery/proj_healpix2.png"/>
                          <img style="margin: 5px 6px; width: 76px; height: 100%;" class="hover_scale" src="/static/img/gallery/proj_interrupted2.png"/>
                          <img style="margin: 5px 6px; width: 76px; height: 100%;" class="hover_scale" src="/static/img/gallery/proj_eisenlohr2.png"/>
                          <img style="margin: 5px 6px; width: 76px; height: 100%;" class="hover_scale" src="/static/img/gallery/proj_bonne2.png"/>
                        </div>
                </div>
                <div class="col-md-12" style="text-align:center;margin: 20px;">
                        <strong><span class="i18n" data-i18n="[html]index.overview_section.export_geo1"></span></strong>
                        <br>
                        <span class="i18n" data-i18n="[html]index.overview_section.export_geo2"></span>
                </div>
                <div class="col-md-12" style="text-align:center;margin: 20px;">
                        <strong><em><span class="i18n" data-i18n="[html]index.overview_section.conclusion"></span></strong></em>
                </div>
            </div>
        </div>
    </section>

    <section id="examples" class="examples-section">
        <div class="container">
            <div class="row">
            <h1 style="font-family:Dosis;" class="i18n" data-i18n="[html]index.buttons.examples"></h1>
            <hr class="grad-transp"></hr>
                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Choropleth map" src="/static/img/gallery/choropleth_map.png" alt="Choropleth map" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Categorical map" src="/static/img/gallery/typo.png" alt="Categorical map" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Discontinuity map" src="/static/img/gallery/discont.png" alt="Discontinuity map" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>

                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Density map" src="/static/img/gallery/gridded.png" alt="Density map" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>
                <div class="col-md-12" style="height:20px">
                    <p> </p>
                </div>
                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Proportional symbols map" src="/static/img/gallery/propsymbols.png" alt="Proportional symbols map" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>

                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Proportional symbols and categorical map" src="/static/img/gallery/brazil.png" alt="Proportional symbols and categorical map" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>

                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Stock and ratios map" src="/static/img/gallery/worldpop.png" alt="Stock and ratios map" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>

                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Flows/links map" src="/static/img/gallery/flows.png" alt="Flows/links map" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>
                <div class="col-md-12" style="height:20px">
                    <p> </p>
                </div>
                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="USA population density" src="/static/img/gallery/usadenspop.png" alt="USA population density" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Smoothed map" src="/static/img/gallery/smoothed2.png" alt="Smoothed map" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Dougenik cartogram" src="/static/img/gallery/dougenik.png" alt="Dougenik cartogram" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="pop">
                    <img class="img-responsive center-block" data-toggle="popover" data-placement="auto" title="Countries visited by James Bond" src="/static/img/gallery/jamesbond_country.png" alt="Countries visited by James Bond" style="max-height:150px;cursor:pointer;">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="documentation" class="documentation-section">
        <div class="container">
            <div class="row">
              <h1 style="font-family:Dosis;" class="i18n" data-i18n="[html]index.buttons.doc"></h1>
              <hr class="grad-transp"></hr>
              <div class="col-lg-6">
                      <p class="i18n" data-i18n="[html]index.documentation_section.user_manual"></p>
                      <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale" src="/static/img/Documents_icon_-_noun_project_5020.svg"/>
              </div>
              <div class="col-lg-6">
                      <p class="i18n" data-i18n="[html]index.documentation_section.carnet_hypotheses"></p>
                      <img style="margin: 5px 6px; width: 38px; height: 100%;" class="hover_scale" src="/static/img/hypotheses_rouge2.png"/>
              </div>
              </div>
        </div>
    </section>

    <section id="source" class="source-section">
        <div class="container">
            <div class="row">
            <h1 style="font-family:Dosis;" class="i18n" data-i18n="[html]index.buttons.dev"></h1>
            <hr class="grad-transp"></hr>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="box1">
                        <img src="/static/img/opensource_initiative.png" style="max-height:60px;" alt="OpenSource Initiative">
                        <h3 class="i18n" data-i18n="[html]index.source_section.box1_title"></h3>
                        <p class="i18n" data-i18n="[html]index.source_section.box1_text"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="box1">
                        <img src="/static/img/Octicons-mark-github.svg" style="max-height:60px;">
                        <h3 class="i18n" data-i18n="[html]index.source_section.box2_title"></h3>
                        <p class="i18n" data-i18n="[html]index.source_section.box2_text"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="box1">
                        <img src="/static/img/i18next_logo.png" style="max-height:60px;" alt="Traductible content">
                        <h3 class="i18n" data-i18n="[html]index.source_section.box3_title"></h3>
                        <p class="i18n" data-i18n="[html]index.source_section.box3_text"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="box1">
                        <img src="/static/img/Schlaegel_und_Eisen_nach_DIN_21800.svg" style="max-height:60px;" alt="Fork me on github">
                        <h3 class="i18n" data-i18n="[html]index.source_section.box4_title"></h3>
                        <p class="i18n" data-i18n="[html]index.source_section.box4_text"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6"></div>
                <div class="col-lg-3" style="text-align:right;">
                  <a href=""><img src="/static/img/logo_cnrs_transparent.png" alt="CNRS logo" style="max-height:50px;"></a>
                  <a href=""><img src="/static/img/logo_cget_texte.png" alt="CGET logo" style="max-height:50px;"></a>
                  <a href=""><img src="/static/img/logo_upd7.png" alt="UPD7 logo" style="max-height:50px;margin-left: 10px;"></a>
                </div>
            </div>
        </div>
    </footer>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>
<div style="box-shadow:0em 0em 1em black;position:fixed;left:50%;transform:translateX(-50%);font-size:14px;width:auto;bottom:0px;opacity:0.85;text-align:center;background-color:black;color:white;padding:0.5em;" id="cookieLaw">
    <span class="i18n" data-i18n="index.cookie_div.message"></span><br>
    <span id="understood_cookie" class="i18n" style="line-height: 1.7em; cursor:pointer;border-radius: 0.4em;background-color:#4BA5FC;color:white;margin-left:1em;margin-right:1em;padding:0.2em;padding-left:1em;padding-right:1em;" data-i18n="index.cookie_div.accept">I understand</span>
    <a style="color:#4BA5FC" href="/about/#cookie" class="i18n" data-i18n="index.cookie_div.more_info"></a>
</div>
{% raw %}
<script>
//jQuery for initialising tooltips
$('[data-toggle="popover"]').popover({
    trigger: 'hover'
});

//jQuery for image preview
$(function(){
    $(".pop").on("click", function(){
        $(".imagepreview").attr("src", $(this).find("img").attr("src"));
        $("#imagemodal").modal("show");
    });
});

//jQuery to collapse the navbar on scroll
$(window).scroll(function() {
    if ($(".navbar").offset().top > 50) {
        $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
});

//jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

//Handle user click on the "language" buttons :
function handle_change_lang(){
    if(this.id == "lang1" && i18next.language == this.innerHTML){
        return;
    }
    let lang = this.innerHTML,
        old_lang = document.getElementById("lang_current").innerHTML;
    change_lang(lang, old_lang);
}

// Actually change the content of the page :
function change_lang(new_lang, old_lang){
    i18next.changeLanguage(new_lang, () => { localize(".i18n");});
    document.getElementById("lang_current").innerHTML = new_lang;
    document.getElementById("lang2").innerHTML = old_lang;
    document.getElementById("lang1").innerHTML = new_lang;
}


function bind_enter_buttons(){
    let enter = () => {
        if(!docCookies.getItem("cookie_law_validated")){
            docCookies.setItem("cookie_law_validated", "true", 31536e3, "/");
        }
        window.location = "/modules?lang=" + i18next.language;
    };
    let elems = document.querySelectorAll(".enter_button");
    for(let i=0; i < elems.length; i++){
        elems[i].onclick = enter;
    }
    if(window.localStorage.getItem("noname_map_project")){
        let resume_btn = document.getElementById("resume_btn");
        resume_btn.removeAttribute("disabled");
        resume_btn.onclick = function(){
                 window.location = "/modules?resume?lang=" + i18next.language;
            }
    }
}


function handle_div_cookie(){
    let cookie_div = document.getElementById("cookieLaw");
    if(docCookies.getItem("cookie_law_validated")){
        cookie_div.style.display = "none";
    } else {
        cookie_div.querySelector("#understood_cookie")
            .onclick = () => {
                document.getElementById("cookieLaw").remove();
                docCookies.setItem("cookie_law_validated", "true", 31536e3, "/");
            };
    }
}


function prepare_lang_buttons(){
    let current_lang =  i18next.language,
        other_lang = current_lang == "en" ? "fr" : "en";
    document.getElementById("lang_current").innerHTML = current_lang;
    let button_lang1 = document.getElementById("lang1");
    button_lang1.innerHTML = current_lang;
    button_lang1.onclick = handle_change_lang;
    let button_lang2 = document.getElementById("lang2");
    button_lang2.innerHTML = other_lang;
    button_lang2.onclick = handle_change_lang;
}

//i18n initialization :
(function(){
    var existing_lang = ["en", "fr"];
    let lang = window.navigator.language.split('-')[0];
    lang = existing_lang.indexOf(lang) > -1 ? lang : 'en';
    i18next.use(i18nextXHRBackend)
      .init({
          debug: true,
          lng: lang,
          fallbackLng: existing_lang[0],
          backend: {
            loadPath: "/static/locales/{{lng}}/translation.json"
          }
    }, (err, t) => {
        if(err)
            throw err;
        else {
            window.localize = locI18next.init(i18next);
            localize(".i18n");
            bind_enter_buttons();
            handle_div_cookie();
            prepare_lang_buttons();
        }
    });
})();

</script>
{% endraw %}
</body>
</html>
