<script src="/static/js/lib/d3.v4.min.js"></script>
<script src="/static/js/noname.js"></script>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" >

<body>
    <div id="header"></div>
    <div id="page" style="position: relative;">
        <p style="font-size: 30px;color: rgb(23, 58, 80);">
            <strong>Put your data on the map...!</strong>
        </p>
        <form>
            <button class="button_st3" formaction="/modules" style="margin:5px;">Enter!</button>
            <button class="button_st3" formaction="/modules" style="margin:5px;">Resume last project...</button>
        </form>
    </div>
    <div id="footer"><p> {{ last_visit }} </p></div>
    <div style="box-shadow:0em 0em 1em black;position:fixed;left:33%;font-size:14px;width:600px;bottom:0px;opacity:0.85;text-align:center;background-color:black;color:white;padding:0.5em;" id="cookieLaw">
    <span>We do NOT use cookies to profile or track users.</span>
    <span id="understood_cookie" style="cursor:pointer;border-radius: 0.4em;background-color:#4BA5FC;color:white;margin-left:1em;margin-right:1em;padding:0.2em;padding-left:1em;padding-right:1em;">I understand</span>
    <a style="color:#4BA5FC" href="/about/#cookie">More information</a></div>
</body>

<script>
    getHeader("#header","GeoPossum","");
    document.getElementById("understood_cookie")
        .onclick = () => { document.getElementById("cookieLaw").remove(); };
</script>
