<script src="/static/js/lib/d3.v3.min.js"></script>
<script src="/static/js/noname.js"></script>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" >

<body>
    <div id="header"></div>
    <div id="page" style="position: relative;">
        <p style="font-size: 30px;color: rgb(23, 58, 80);">
            <strong>Put your data on the map...!</strong>
        </p>
        <form>
            <button class="button_st3" formaction="/modules">Enter!</button>
        </form>
    </div>
    <div id="footer"><p> {{ last_visit }} </p></div>
</body>

<script>
    getHeader("#header","GeoPossum","");
</script>
