<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
 
     <title>FormulaiR</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="/static/js/R_form_persist.js"> </script>
   <!-- {# 
   <script src="{{ url_for('static', filename='js/jquery-1.12.0.js') }}"></script>
   <script src="{{ url_for('static', filename='js/R_form_persist.js') }}"> </script>
   #}
   -->
 </head>

 <body>
     <div class="container">
         <form class="form" method="post" role="form">
             <h2 class="form-heading">Enter a R command/script:</h2>
             <textarea type="text" name="rcommande" class="form-control" placeholder="R commande" style="width: 700px; height: 150px;" required autofocus></textarea><br>
             <button class="btn btn-lg btn-primary btn-block" id="button">Run command</button>
         </form>
     </div><br><br><div>Session {{key}}</div><br>
	 <div id='content'>Output : <br><br> {{content}}
	</div>
 </body>
 </html>
