<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
 
     <title>FormulaiR</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>
   <script>
    $(document).ready(function() {
        $('button').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: '/RrCommande',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
            var parsed = JSON.parse(response)
            document.getElementById("content").innerHTML = parsed.Result;
                },
                error: function(error) {
    				console.log(error);
                }
            });
        });
    });
   </script>
   <!-- {# 
   <script src="{{ url_for('static', filename='js/jquery-1.12.0.js') }}"></script>
   <script src="{{ url_for('static', filename='js/R_form2.js') }}"> </script>
   #}
   -->
 </head>

 <body>
     <div class="container">
         <form class="form-signin" action="" method="post" role="form">
             <h2 class="form-signin-heading">Enter a R command:</h2>
             <input type="text" name="rcommande" class="form-control" placeholder="R commande" required autofocus>
             <button class="btn btn-lg btn-primary btn-block" id="button">Run command</button>
         </form>
     </div><br><br><br>
	 <div id='content'>
	</div>
 </body>
 </html>
