<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <title>{{ title }}</title>
 </head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>
   <script>
   $(document).ready(function() {
        $('button').click(function(e) {
            document.getElementById("status").innerHTML = "Busy...";
            e.preventDefault();
            $.ajax({
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    document.getElementById("result").innerHTML = response;
                    document.getElementById("status").innerHTML = "Response received";
                },
                error: function(error) {
    				console.log(error);
                }
            });
        });
    });
   </script>
 <body>
      <h3>{{ title }}</h3>
      {% from "_formhelpers.html" import render_field %}
      <form method="POST" action="" class="MTA_deviation" enctype="multipart/form-data">
        <dl>
        {% for field_ in form %}
            {{ render_field(field_, class=field_) }}
        {% endfor %}
        </dl>
        <p>
        <button class="btn btn-lg btn-primary btn-block" id="button">Run command</button>
        </form>
    Status <br>
    <div id="status"></div><br><br>
    Result<br>
    <div id="result"></div><br>
 </body>
 </html>
