<html>

<head>
<title>Upload test page</title>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <style>#map { height: 320px; }
    #dropfile{
    width: 350px;
    height: 50px;
    border: 4px dashed #BBBBBB;
    line-height: 35px;
    text-align: center;
    }</style>
   <title>Upload page</title>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
   <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js"></script>
 </head>

 <body>
     <div id="content">
        <h3>Upload page</h3><br>
        <form action="upload" method="post" enctype=multipart/form-data>
          <p><input type="file" multiple="" name=file[]>
             <input type=submit value=Upload>
        </form>
    <div id="dropfile">Or drop a GeoJSON / TopoJSON here</div>
        {{ content_d }}
   </div><br>
   <div id="map"></div><br>
   <b><i>Raw result :</b></i><br>
    <div id="raw_result">{{ raw_result }}</div>
    <script>
    // Example mainly from
    // http://www.maximechaillou.com/simple-upload-en-drag-and-drop-avec-html5-jquery-php/

    $(document).on('dragenter', '#dropfile', function() {
                $(this).css('border', '3px dashed red');
                return false;
    });
     
    $(document).on('dragover', '#dropfile', function(e){
                e.preventDefault();
                e.stopPropagation();
                $(this).css('border', '3px dashed red');
                return false;
    });
     
    $(document).on('dragleave', '#dropfile', function(e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).css('border', '3px dashed #BBBBBB');
                return false;
    });
    $(document).on('drop', '#dropfile', function(e) {
                if(e.originalEvent.dataTransfer){
                           if(e.originalEvent.dataTransfer.files.length) {
                                       // Stop the propagation of the event
                                       e.preventDefault();
                                       e.stopPropagation();
                                       $(this).css('border', '3px dashed green');
                                       // Main function to upload
                                       upload(e.originalEvent.dataTransfer.files);
                           }  
                }
                else {
                           $(this).css('border', '3px dashed #BBBBBB');
                }
                return false;
    });

    function upload(files) {
                var f = files[0] ;
                console.log(f.type)
                // Todo : check file type to only procces shp / json files.
                // ....
                var reader = new FileReader();
     
                // When the image is loaded,
                // run handleReaderLoad function
                reader.onload = handleReaderLoad;
     
                // Read in the image file as a data URL.
                reader.readAsDataURL(f);            
    }

    function handleReaderLoad(evt) {
                var data = {};
                data.filetype = evt.target.result.split(',')[0];
                data.file = evt.target.result.split(',')[1];
                
                $.ajax({
                           type: 'POST',
                           data: {file: [0, data.filetype, data.file]},
                           success: function(data) {
                                       console.log(data) ;
                           }
                });
    }

	map = new L.Map('map');
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 4, maxZoom: 15, attribution: osmAttrib});		

	map.setView(new L.LatLng(48.3, 2.7),5);
	map.addLayer(osm);
      var result = document.getElementById('raw_result').innerHTML;

      var myStyle = {
          "color": "#ff7800",
          "weight": 5,
          "opacity": 0.75
      };
      var geojsonLayer = new L.GeoJSON(JSON.parse(result));
      map.addLayer(geojsonLayer, {style: myStyle});
      map.fitBounds(geojsonLayer.getBounds());

   </script>
</body>
</html>
